<app-header [title]="'Listado de planes'"></app-header>

<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10">
                <table align="center" border="0" width="70%" class="table table-bordered"
                    style="margin:0px auto; font-weight:600; text-align:center; ; color:#707070">
                    <tbody>
                        <tr style="font-size:15px; color:white; background-color:#707070">
                            <th style="background-color:#001865; color:#FFF; text-align:center"> Plan </th>
                            <th style="background-color:#001865; color:#FFF; text-align:center"> Nóminas </th>
                        </tr>

                        <tr height="15" class="tbl-007"
                            style="text-align:left;background-color:#E4F1FD; border:1px solid #FFF">
                            <td align="center" class="txt_004"
                                style="vertical-align:top;text-align:left;background-color:#F3F6F9; border:1px solid #FFF; height:170px">
                                <br>
                                <a [routerLink]="['/detalle-empresa']"
                                    [queryParams]="{plan:'CA9504', permisos:1, nombre:'DEMO CAJA DE AHORRO'}"> CA9504 -
                                    DEMO CAJA DE AHORRO </a>
                            </td>

                            <td align="center" class="txt_004"
                                style="vertical-align:top;text-align:left;background-color:#F3F6F9; border:1px solid #FFF; height:170px">
                                &nbsp; <br>

                                <a [routerLink]="['/detalle-nomina']"
                                    [queryParams]="{idNomina: 40, plan:'CA9504', permisos:1, nombre:'Razón Social 1, S.A. de C.V.'}">
                                    Razón Social 1, S.A. de C.V. </a> <br><br>

                                <a [routerLink]="['/detalle-nomina']"
                                    [queryParams]="{idNomina: 46, plan:'CA9504', permisos:1, nombre:'Razón Social 2, S.A. de C.V.'}">
                                    Razón Social 2, S.A. de C.V. </a> <br><br>

                                <a [routerLink]="['/detalle-nomina']"
                                    [queryParams]="{idNomina: 49, plan:'CA9504', permisos:1, nombre:'Razón Social 3, S.A. de C.V.'}">
                                    Razón Social 3, S.A. de C.V. </a> <br><br>

                                <a [routerLink]="['/detalle-nomina']"
                                    [queryParams]="{idNomina: 52, plan:'CA9504', permisos:1, nombre:'Razón Social 4, S.A. de C.V.'}">Razón
                                    Social 4, S.A. de C.V. </a> <br><br>

                                <a [routerLink]="['/detalle-nomina']"
                                    [queryParams]="{idNomina: 67, plan:'CA9504', permisos:1, nombre:'Razón Social 5, S.A. de C.V.'}">
                                    Razón Social 5, S.A. de C.V. </a> <br><br>

                                <a [routerLink]="['/detalle-nomina']"
                                    [queryParams]="{idNomina: 'CONC', plan:'CA9504', permisos:1, nombre:'CONCENTRADORA'}">CONCENTRADORA</a>

                            </td>
                        </tr>
                        <tr height="15" class=""
                            style="text-align:left;background-color:#E4F1FD; border:1px solid #FFF">
                            <td align="center" class="txt_004"
                                style="vertical-align:top;text-align:left;background-color:#F3F6F9; border:1px solid #FFF; height:170px">
                                &nbsp; <br>
                                <a [routerLink]="['/detalle-empresa']"
                                    [queryParams]="{plan:'FA9803',permisos:1, nombre: 'DEMO FONDO DE AHORRO'}"> FA9803 -
                                    DEMO FONDO DE AHORRO </a>
                            </td>

                            <td align="center" class="txt_004"
                                style="vertical-align:top;text-align:left;background-color:#F3F6F9; border:1px solid #FFF; height:170px">
                                &nbsp; <br>

                                <a [routerLink]="['/detalle-nomina']"
                                    [queryParams]="{idNomina: 'COM', plan:'FA9803', permisos:1, nombre:'CONCENTRADORA'}">CONCENTRADORA</a><br><br>

                                <a [routerLink]="['/detalle-nomina']"
                                    [queryParams]="{idNomina: 'SEM', plan:'FA9803', permisos:1, nombre:'SEMANAL'}">SEMANAL</a><br><br>

                                <a [routerLink]="['/detalle-nomina']"
                                    [queryParams]="{idNomina: 'QNA', plan:'FA9803', permisos:1, nombre:'QUINCENAL'}">QUINCENAL</a>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>