<app-header [title]="'Listado de Solicitudes de Retiros'"></app-header>

<div class="mt-form">
    <form method="post" action="Solicitudes.jsp">
        <br>
        <table class="tbl-006" align="center">
            <tbody>
                <tr>
                    <td align="center">

                        <input type="hidden" name="cvecom" value="CA9504">
                        <!--
                        Filtrar por Movimientos: &nbsp; 
                        <SELECT name="movimiento" >
                            <OPTION value=""  > -- Todos -- </OPTION> 
                            <OPTION value="P" > Pr&eacute;stamos </OPTION> 
                            <OPTION value="R" > Retiros </OPTION> 
                            <OPTION value="B" > Bajas </OPTION> 
                            <OPTION value="BP" > Bajas Proy. </OPTION> 
                        </SELECT>	
                        -->
                    </td>
                    <td width="20"> &nbsp; </td>
                    <td align="center">
                        Filtrar fechas posteriores a : &nbsp;
                        <input type="text" id="fecha" name="fecha" value="">
                    </td>
                    <td width="20"> &nbsp; </td>
                    <td align="center">
                        <input style="background-color:#0D90D7" type="submit" value="Mostrar"
                            class="button-accept button">
                    </td>
                </tr>

            </tbody>
        </table>
    </form>
</div>

<div  style="height: 400px; overflow-y: scroll;" class="mt-table">
    <table class="table table-bordered" style="margin:0px auto; font-weight:600;width: 200%">
        <tbody>
            <tr class="sticky" rowspan="1" style="background-color:#001865; color:#FFF">
                <th> Num </th>
                <th> Folio </th>
                <th> Fecha Solic </th>
                <th> Fecha Liberación </th>
                <th> Solicitante </th>
                <th> ID Nómina </th>
                <th> Participante </th>
                <th> Tipo </th>
                <th> Monto </th>
                <th> Plazo </th>
                <th> Status </th>
                <th> Cambiar Status </th>
            </tr>
    
            <tr class="tbl-007">
                <td align="center" class="num-style"> 1 </td>
                <td align="center"> CA9504_R_1125 </td>
                <td align="center" class="num-style"> 2023-04-06 11:57 </td>
                <td align="center" class="num-style"> </td>
                <td align="center"> 2 ~ CA950446350292 </td>
                <td align="center"> 46 </td>
                <td align="center" class="num-style"> 350292 </td>
                <td align="center">
                    Retiro &nbsp;
                </td>
                <td align="center" class="num-style"> $ 10,000.00 </td>
                <td align="center" class="num-style"> N/A </td>
                <td align="center">
                    Solicitado &nbsp;
                </td>
                <td>
    
                    <form action="ActualizaStatusSolicitudIncidencia.rkw" method="post">
                        <input type="hidden" name="folio" value="CA9504_R_1125">
                        <input type="hidden" name="cvecom" value="CA9504">
                        <input type="hidden" name="link" value="Solicitudes.jsp?cvecom=CA9504">
                        <select name="status">
                            <option value="R"> Rechazado </option>
                            <option value="A"> Atendido </option>
                        </select> &nbsp;
                        <input style="background-color:#0D90D7" type="submit" value="Cambiar Status"
                            class="button-accept button">
                    </form>
                </td>
            </tr>
    
            <tr>
                <td align="center" class="num-style"> 2 </td>
                <td align="center"> CA9504_R_1123 </td>
                <td align="center" class="num-style"> 2023-03-30 12:29 </td>
                <td align="center" class="num-style"> </td>
                <td align="center"> 1 ~ CASH_12 </td>
                <td align="center"> 40 </td>
                <td align="center" class="num-style"> 350080 </td>
                <td align="center">
                    Retiro &nbsp;
                </td>
                <td align="center" class="num-style"> $ 500.00 </td>
                <td align="center" class="num-style"> N/A </td>
                <td align="center">
                    Solicitado &nbsp;
                </td>
                <td>
    
                    <form action="ActualizaStatusSolicitudIncidencia.rkw" method="post">
                        <input type="hidden" name="folio" value="CA9504_R_1123">
                        <input type="hidden" name="cvecom" value="CA9504">
                        <input type="hidden" name="link" value="Solicitudes.jsp?cvecom=CA9504">
                        <select name="status">
                            <option value="R"> Rechazado </option>
                            <option value="A"> Atendido </option>
                        </select> &nbsp;
                        <input style="background-color:#0D90D7" type="submit" value="Cambiar Status"
                            class="button-accept button">
                    </form>
                </td>
            </tr>
    
            <tr class="tbl-007">
                <td align="center" class="num-style"> 3 </td>
                <td align="center"> CA9504_R_1119 </td>
                <td align="center" class="num-style"> 2023-03-09 10:49 </td>
                <td align="center" class="num-style"> 2023-03-09 10:50 </td>
                <td align="center"> 1 ~ DEMOS </td>
                <td align="center"> 52 </td>
                <td align="center" class="num-style"> 23 </td>
                <td align="center">
                    Retiro &nbsp;
                </td>
                <td align="center" class="num-style"> $ 10,000.00 </td>
                <td align="center" class="num-style"> N/A </td>
                <td align="center">
                    Rechazado &nbsp;
                </td>
                <td>
    
                </td>
            </tr>
    
            <tr>
                <td align="center" class="num-style"> 4 </td>
                <td align="center"> CA9504_R_1116 </td>
                <td align="center" class="num-style"> 2023-02-28 13:01 </td>
                <td align="center" class="num-style"> 2023-02-28 01:02 </td>
                <td align="center"> 1 ~ DEMOS </td>
                <td align="center"> 40 </td>
                <td align="center" class="num-style"> 400001 </td>
                <td align="center">
                    Retiro &nbsp;
                </td>
                <td align="center" class="num-style"> $ 2,202.32 </td>
                <td align="center" class="num-style"> N/A </td>
                <td align="center">
                    Atendido &nbsp;
                </td>
                <td>
    
                </td>
            </tr>
    
    
    
            <tr>
                <td>
                    <b>Claves de Solicitantes</b><br>
                    - 1 - Administrador <br>
                    - 2 - Participante
                </td>
            </tr>
        </tbody>
    </table>
</div>