<app-header [title]="'Listado de Movimientos'"></app-header>

<div class="table-wrapper mt-50">
    <table align="center" border=".5" width="90%" class="tbl-006 tbl-tittle">
        <tbody><tr>
            <td> <b>Plan : </b>
                CA9504
                <input type="hidden" name="cvecom" value="CA9504">
            </td>
            <td align="center">  
                <b>Tipo de Movimiento :</b>
                <select name="tipoMovimiento">					
                    <option value="%"> -- Todos --  </option>
                    <option value="D"> Depósitos  </option>		
                    <option value="R"> Retiros </option>
                    <option value="Q"> Amortizaciones  </option>
                    <option value="P"> Préstamos </option>
                    <option value="V"> Bajas </option>
                    <option value="X"> Rendimientos </option>
                    <option value="Y"> Intereses</option>
                </select>
            </td>
        </tr>
        <tr>
            <td> 
                <!-- Nomina : <select disabled> </select> &nbsp;&nbsp;&nbsp;&nbsp;		-->
                <b>Participante : </b> <input type="text" name="cveemp" value="">  	
            </td>
            <td align="center">  
                <input type="checkbox" name="concentradoFecha" value="1"> <b>Concentrado del Plan por Fecha</b> </td>
        </tr>
        <tr>
            <td>
                <b>Fecha Inicio  :</b> &nbsp;
                <input type="text" id="fechaInicio" name="fechaInicio" value=""> 
            </td>
            <td align="center">
                <b>Fecha de Fin : </b>&nbsp; 
                <input type="text" id="fechaFin" name="fechaFin" value=""> 
            </td>
        </tr>
        <tr>
            <td>&nbsp;
                
            </td>
            <td align="center">
                <input style="background-color:#0D90D7" type="submit" value="Listar Movimientos" class="button-accept button">
            </td>
        </tr>
    </tbody></table>
    </div>
