@font-face {
  font-family: "Raleway-Regular";
  src: url("/assets/fonts/Raleway-Regular.ttf");
}

html {
  font-family: 'Raleway-Regular', Verdana;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 16px;
  color: #000;
  font-family: 'Raleway-Regular', sans-serif !important;
  font-weight: 400;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  background-color: #0032a0;
  background-color: rgba(0, 50, 160, 1);
  padding: 0px;
}

img {
  max-width: 100%;
  border: 0;
}

header .logo {
  float: left;
  width: 160px;
  height: 36px;
  padding: 0px;
  margin: 33px 0 33px 0;
  background-color: none;
}

/* style de aside and menu **/
h1,
h2,
h3,
h4 {
  margin: 10px;
}

h1 {
  font-size: 30px;
  color: #0032A0;
}

h1 span {
  display: inline-block;
  position: relative;
  padding-right: 80px;
}

h1 span:after {
  background-color: #009CDE;
  content: '';
  width: 55px;
  height: 7px;
  display: block;
  position: absolute;
  right: 0;
  margin-top: -18px;
}

h2 {
  color: #009CDE;
  font-size: 20px;
}

h3 {
  font-size: 15px;
  text-align: center;
}

h4 {
  margin: 10px;
  font-size: 17px;
}

#wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
  font-size: 12px;
  min-height: 100vh;
  margin-left: -16rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

.table-wrapper {
  width: 100%;
  height: 550px;
  overflow: auto;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
  vertical-align: middle;
}

#sidebar-wrapper .sidebar-heading {
  text-align: center;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 16rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

.btn-group img {
  max-width: 75%;
  padding: 10px;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

.container-fluid {
  padding-top: 40px;
}

.table td,
.table th {
  padding: 0.2rem;
}

.num-style {
  font-family: Calibri, Verdana;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }

  #sidebar-wrapper .menu-content {
    display: block;
  }

  .dv-head {
    padding: 20px 0px 30px 30px;
  }
}

@media (max-width: 750px) {
  .dv-head {
    padding: 20px 10px 10px 20px;
  }

  .controls {
    display: none;
  }
}

#sidebar-wrapper {
  background-color: #002E9D;
  line-height: 50px;
  display: block;
  font-size: 0.8rem;
  padding-right: 10px; /* se agrego esta linea 26px */
}

.sidebar-heading img {
  text-align: center;
  max-width: 70%;
  padding: 60px 10px 40px 10px;
}

#sidebar-wrapper li:hover {
  border-left: 3px solid #0098DD;
  background-color: #4f5b69;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

#sidebar-wrapper ul .active,
#sidebar-wrapper li .active {
  background-color: #0098DD;
}

#sidebar-wrapper li a {
  text-decoration: none;
  color: #e1ffff;
  padding-left: 20px;
}

#sidebar-wrapper ul,
#sidebar-wrapper li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
}

#sidebar-wrapper li {
  border-bottom: 1px solid #23282e;
}

#sidebar-wrapper ul :not(collapsed) .arrow:before,
#sidebar-wrapper li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}

#sidebar-wrapper ul .sub-menu li,
#sidebar-wrapper li .sub-menu li {
  color: #FFF;
  background-color: #2e353d;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
  padding-left: 20px;
}

#sidebar-wrapper ul .sub-menu li:before,
#sidebar-wrapper li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}

#sidebar-wrapper .title-list {
  border-bottom: none;
}

.title-list {
  color: #fff;
  border-bottom: none;
}

.navbar-toggler-icon {
  width: 1em;
  height: 1em;
}

@media print {

  .oculto-impresion,
  .oculto-impresion * {
    display: none !important;
  }
}

.dv-head {
  margin-top: -10px;
  background-color: #F3F6F9;
}


.square {
  position: relative;
  width: 100%;
}

.square:after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* other components */
ul,
ol,
dl {
    padding: 0;
    margin: 0;
}

h1,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}

a img {
    border: none;
}

a {
    font-size: 14px;
    color: #0052cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

v {
    font-size: 13px;
    color: #3d3d3d;
    text-decoration: none;
    font-weight: bold;
}




.title {
    /*color: #B6BF00;*/
    color: #0093D2;
    font-family: 'Raleway', Verdana;
    /*font-size: 18px;*/
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 30px;
    padding-bottom: 5px;

}

.title2 {
    color: #707070;
    font-family: 'Raleway', Verdana;
    font-size: 17px;
    font-weight: normal;
    margin-bottom: 0px;
    margin-top: 30px;
    padding-bottom: 5px;
}


p {
    font: 100%/1.5 Arial, Helvetica, Tahoma, Geneva, sans-serif;
    font-size: 13px;
    padding-top: 0px;
    color: #000;
}

.container {
    width: 924px;

    margin: 0 auto;
    /* background-image:url(bkg_content.png); */
    background-repeat: no-repeat;
    background-position: top;
    overflow-x: hidden;
}

.bkgBanner {
    /* background-image:url(bkg_banner.png); */
    background-repeat: no-repeat;
    background-position: bottom;
}

.headercontainer {
    width: 970px;
    margin: 0 auto;
    /* background-image:url(bkg_header.png); */
    background-repeat: no-repeat;
    background-position: top;
}

footer {
    width: 970px;
    margin: 0 auto;
    /* background-image:url(bkg_content_footer.png); */
    background-repeat: no-repeat;
    background-position: bottom;
}

.pie {
    width: 920px;
    padding: 20px;
    margin: 0 auto;
}

.footerWrapper {
    width: 100%;
    margin: 0 auto;
    /* background-image:url(bkg_wrapper_footer.png); */
    background-repeat: repeat-x;
    background-position: bottom;
}

header {
    /*background: #ADB96E;*/
    padding-top: 29px;
   /* margin-left: 29px;*/
    margin-right: 53px;
}

.sidebar {
    float: left;
    width: 155px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.mnuSup {
    width: 370px;
    float: right;
    /*background:#D1D1D1;*/
    padding: 5px;
}

.mnuSup2 {
    width: 870px;
    float: right;
    /*background:#D1D1D1;*/
    padding: 5px;
}

.mnuSup3 {
    width: 570px;
    float: right;
    /*background:#D1D1D1;*/
    padding: 5px;
}

.shadowleft {
    -moz-box-shadow: -3px 3px 3px #999999;
    -webkit-box-shadow: -3px 3px 3px #999999;
    box-shadow: -3px 3px 3px #999999;
}

.content {
    width: 888px;
    margin-left: 29px;
    margin-right: 53px;
}

.contentInt {
    padding: 10px 20px;
    margin: 3px 20px;
    width: 705px;
    float: right;
    background-color: #FFFFFF;
    border-radius: 7px;
    border: 0px currentColor;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -o-border-radius: 7px;
    -ms-border-radius: 7px;
    -khtml-border-radius: 7px;
}

.content ul,
.content ol {
    padding: 0 15px 15px 40px;
}

nav ul {
    list-style: none;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, Tahoma, Geneva, sans-serif;
    font-size: 11px;
    text-transform: uppercase;

}

nav ul li {
    text-align: right;
}

nav ul a,
nav ul a:visited {
    padding: 2px 0px 2px 0px;
    display: block;
    width: 155px;
    text-decoration: none;
}

nav ul a:hover,
nav ul a:active,
nav ul a:focus {
    background: #75B5F3;
    color: #000;
}


footer {
    padding: 1px 20px;
    position: relative;
    clear: both;
}

header,
section,
footer,
aside,
nav,
article,
figure {
    display: block;
}

.lnk-000:link {
    font-size: 12px;
    color: #3d3d3d;
    text-decoration: none;
}

.lnk-000:hover,
.lnk-000:active,
.lnk-000:focus,
.lnk-000:visited {
    color: #000000;
    text-decoration: underline;
}

.lnk-001,
.lnk-001:link {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 10px;
    color: #5B595A;
    text-decoration: none;
}

.lnk-001:hover,
.lnk-001:active,
.lnk-001:focus,
.lnk-001:visited {
    text-decoration: underline;
    color: #000;
}

.lnk-002,
.lnk-002:link {
    line-height: 120%;
    font-family: Tahoma, Geneva, sans-serif;
    FONT-SIZE: 12px;
    color: #5B595A;
    text-decoration: none;
}

.lnk-002:hover,
.lnk-002:active,
.lnk-002:focus,
.lnk-002:visited {
    text-decoration: underline;
}

.lnk-003,
.lnk-003:link {
    line-height: 120%;
    font-family: Tahoma, Geneva, sans-serif;
    FONT-SIZE: 12px;
    color: #333;
    font-stretch: extra-condensed;
    text-decoration: none;
}

.lnk-003:hover,
.lnk-003:active,
.lnk-003:focus,
.lnk-003:visited {
    text-decoration: underline;
}

.lnk-004,
.lnk-004:link {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    color: #767776;
    text-decoration: none;
}

.lnk-004:hover,
.lnk-004:active,
.lnk-004:focus,
.lnk-004:visited {
    text-decoration: underline;
}

.txt_001 {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    color: #B7BA53;
    font-weight: bold;
}

.txt_002 {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 10px;
    color: #5B595A;
}

.txt_003 {
    line-height: 120%;
    font-family: Tahoma, Geneva, sans-serif;
    FONT-SIZE: 13px;
    color: #5B595A;
}

.txt_004 {
    line-height: 120%;
    font-family: 'Lato', sans-serif;
    FONT-SIZE: 13px;
    color: #333;
    font-stretch: extra-condensed;
}

.txt_0044 {
    line-height: 120%;
    font-family: Tahoma, Geneva, sans-serif;
    FONT-SIZE: 30px;
    color: #1a1a1a;
    font-stretch: extra-condensed;
}

.txt_005 {
    font-family: Arial, Helvetica, Tahoma, Geneva, sans-serif;
    font-size: 12px;
    color: #fff;
    font-stretch: extra-condensed;
}

.txt_006 {
    font-family: Arial, Helvetica, Tahoma, Geneva, sans-serif;
    font-size: 11px;
    color: #C5C5C3;
    font-stretch: extra-condensed;
}

.txt_007 {
    font-family: Arial, Helvetica, Tahoma, Geneva, sans-serif;
    font-size: 14px;
    color: #0090d7;
}

.txt_008 {
    font-family: Arial, Helvetica, Tahoma, Geneva, sans-serif;
    font-size: 13px;
    color: #fff;
}

.txt_009 {
    font-family: Arial, Helvetica, Tahoma, Geneva, sans-serif;
    font-size: 13px;
    color: #000;
}

.txt_010 {
    font-family: Arial, Helvetica, Tahoma, Geneva, sans-serif;
    font-size: 10px;
    color: #000;
}

.txt_011 {
    font-family: Arial, Helvetica, Tahoma, Geneva, sans-serif;
    font-size: 10px;
    color: #D1D1D1;
}

.txt_012 {
    font-family: Arial, Helvetica, Tahoma, Geneva, sans-serif;
    font-size: 10px;
    color: #404040;
}

.frm_001 {
    height: 25px;
    border: #CDCDCB 1px solid;
    background-color: #F0F0EE;
    font-family: Tahoma, Geneva, sans-serif;
    FONT-SIZE: 11px;
    color: #626E7A;
    font-weight: bold;
}

.frm-002 {
    font-family: Arial, Helvetica, Tahoma, Geneva, sans-serif;
    color: #333;
    font-size: 11px;
    border: 2px solid #ccc;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-appearance: none;
    padding: 4px 7px;
    outline: 0;
    /* background-image: url(bkg_forms.jpg?31afecc9b); */
    background-repeat: repeat-x;
    background-position: top;
}

.frm-002:focus {
    border: 2px solid #D5D10F;
}

.frm-003 {
    font-family: Arial, Helvetica, Tahoma, Geneva, sans-serif;
    color: #333;
    font-size: 12px;
    border: 1px solid #969695;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;
    -khtml-border-radius: 6px;
    -webkit-appearance: none;
    padding: 4px 7px;
    outline: 0;
    background-color: #F0F0EE;
    height: 15px;
    width: 180px;
    ;
}

.frm-004 {
    font-family: Arial, Helvetica, Tahoma, Geneva, sans-serif;
    color: #333;
    font-size: 12px;
    border: 1px solid #969695;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;
    -khtml-border-radius: 6px;
    -webkit-appearance: none;
    padding: 4px 7px;
    outline: 0;
    background-color: #F0F0EE;
    height: 25px;
    width: 195px;
    ;
}

.frm_005 {
    height: 25px;
    border: #CDCDCB 1px solid;
    background-color: #F0F0EE;
    font-family: Tahoma, Geneva, sans-serif;
    FONT-SIZE: 11px;
    color: #626E7A;
    font-weight: bold;
    width: 380px;
}

.tbl-001 {
    background-color: #EEEAEB;
}

.tbl-002 {
    -moz-box-shadow: -3px 3px 3px #CBCBCB;
    -webkit-box-shadow: -3px 3px 3px #CBCBCB;
    box-shadow: -3px 3px 3px #CBCBCB;
    height: 37px;
    vertical-align: middle;
    border-radius: 0px 8px 8px 0px;
    border: 0px currentColor;
    -moz-border-radius: 0px 8px 8px 0px;
    -webkit-border-radius: 0px 8px 8px 0px;
    -o-border-radius: 0px 8px 8px 0px;
    -ms-border-radius: 0px 8px 8px 0px;
    -khtml-border-radius: 0px 8px 8px 0px;
    background-color: #969695;
}

.tbl-003 {
    padding: 5px;
    border-radius: 10px;
    border: 0px currentColor;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    -khtml-border-radius: 10px;
    background-color: #f4f4f4;
}

.tbl-004 {
    padding: 5px;
    border-radius: 10px;
    border: 0px currentColor;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    -khtml-border-radius: 10px;
    background-color: #BBBABA;
}

.tbl-005 {
    padding: 5px;
    border-radius: 10px;
    border: 0px currentColor;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    -khtml-border-radius: 10px;
    /*background: #f7f7f7; */
    background: -moz-linear-gradient(top, #f7f7f7 0%, #a2a2a2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #a2a2a2));
    background: -webkit-linear-gradient(top, #f7f7f7 0%, #a2a2a2 100%);
    background: -o-linear-gradient(top, #f7f7f7 0%, #a2a2a2 100%);
    background: -ms-linear-gradient(top, #f7f7f7 0%, #a2a2a2 100%);
    background: linear-gradient(top, #f7f7f7 0%, #a2a2a2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#a2a2a2', GradientType=0);
}

.tbl-006 {
    padding: 5px;
    border-radius: 10px;
    border: 0px currentColor;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    -khtml-border-radius: 10px;
    background-color: #E8EDA6;
    background-color: whitesmoke;
    font-size: 12px;
}

.tbl-detalle-left {
    font-size: 15px;
    color: white;
    background-color: #343e48;
}

.tbl-detalle-rigth {
    font-size: 15px;
    color: #343e48;
}

.tbl-tittle {
    font-size: 12px;
    color: #343e48;
}

.tbl-007 {
    /*background-color:#C4D021;*/
    background-color: #0098DD22;
}

.tbl-008 {
    padding: 5px;
    border-radius: 10px;
    border: 0px currentColor;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    -khtml-border-radius: 10px;
    /*background: #f7f7f7; */
    background: -moz-linear-gradient(top, #e5e5e5 0%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e5e5e5), color-stop(100%, #ffffff));
    background: -webkit-linear-gradient(top, #e5e5e5 0%, #ffffff 100%);
    background: -o-linear-gradient(top, #e5e5e5 0%, #ffffff 100%);
    background: -ms-linear-gradient(top, #e5e5e5 0%, #ffffff 100%);
    background: linear-gradient(top, #e5e5e5 0%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5e5e5', endColorstr='#ffffff', GradientType=0);
}

.tbl-009 {
    padding: 5px;
    border-radius: 8px 8px 0px 0px;
    border: 0px currentColor;
    -moz-border-radius: 8px 8px 0px 0px;
    -webkit-border-radius: 8px 8px 0px 0px;
    -o-border-radius: 8px 8px 0px 0px;
    -ms-border-radius: 8px 8px 0px 0px;
    -khtml-border-radius: 8px 8px 0px 0px;
    background-color: #fff;
}

.tbl-010 {
    padding: 5px;
    border-radius: 8px 8px 0px 0px;
    border: 0px currentColor;
    -moz-border-radius: 8px 8px 0px 0px;
    -webkit-border-radius: 8px 8px 0px 0px;
    -o-border-radius: 8px 8px 0px 0px;
    -ms-border-radius: 8px 8px 0px 0px;
    -khtml-border-radius: 8px 8px 0px 0px;
    /*background-color:#D1D1D1;*/
    background-color: whitesmoke;
}

.tbl-011 {
    padding: 5px;
    border-radius: 8px 8px 0px 0px;
    border: 0px currentColor;
    -moz-border-radius: 8px 8px 0px 0px;
    -webkit-border-radius: 8px 8px 0px 0px;
    -o-border-radius: 8px 8px 0px 0px;
    -ms-border-radius: 8px 8px 0px 0px;
    -khtml-border-radius: 8px 8px 0px 0px;
    /*background-color:#808080;*/
    background-color: #d4e5f2;
}


.button {
    text-decoration: none;
    padding: 4px 22px;
    border: 0px currentColor;
    text-align: center;
    color: #ffffff;
    line-height: 16px;
    font-size: 12px;


}

@media imprimir {
    .ocultar-al-imprimir {
        display: none;
    }
}

a,
button {
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
}



#bottom-footer {
    border-top: 2px solid #FFFFFF;
    border-top: .125rem solid #0090d7;
    padding: .625rem 0;
}

#bottom-footer ul {
    line-height: 10px;
    line-height: .625rem;
    text-align: right;
    font-family: Arial, "MS Trebuchet", sans-serif;
}

#bottom-footer ul {
    margin-bottom: 10px;
}

#bottom-footer ul li {
    font-family: BNPPSansRegular;

    display: inline;
    font-size: 11px;
    font-size: .6875rem;
    padding-top: 8px;
    border-top: 0;
    font-weight: 400;
    text-decoration: none;
}

#bottom-footer ul,
#footer ul {
    list-style: none;
    margin: 0;
    border-top: 1px solid #fff;
    border-top: .0625rem solid #fff;
    padding: .625rem 0 0;
}