body {
	font-size: 0.8rem;
	/*font-size: 15px;*/
    font-family:'Raleway', Verdana;	
    margin: 0px;
    padding: 0px;
}

h1, h2, h3, h4{
	/*font-weight:bold;*/
	margin: 10px;
}
h1{
	font-size:30px;
	color:#0032A0;
}

h1 span {
    display: inline-block;
    position: relative;
    padding-right: 80px;
}

h1 span:after {
    /* background-color: #54BEF0; */
    background-color: #009CDE;
    content: '';
    width: 55px;
    height: 7px;
    display: block;
    position: absolute;
    right: 0;
    margin-top:-18px;
}

h2{
	/*color:#0093D2;*/
	color:#009CDE;
	font-size:20px;
}

h3{
	font-size:15px;
	text-align:center;	
}

h4{	
	margin: 10px;
	font-size: 17px;
}
 #wrapper {
    overflow-x: hidden;
 }

#sidebar-wrapper {
    font-size: 12px;
	min-height: 100vh;
	margin-left: -16rem;
	-webkit-transition: margin .25s ease-out;
	-moz-transition: margin .25s ease-out;
	-o-transition: margin .25s ease-out;
	transition: margin .25s ease-out;
}
.table-wrapper{    
    width: 100%;
    height: 350px;
    overflow: auto;
}
.table>tbody>tr>td, 
.table>tbody>tr>th, 
.table>tfoot>tr>td, 
.table>tfoot>tr>th, 
.table>thead>tr>td, 
.table>thead>tr>th {
      vertical-align: middle;
 }

#sidebar-wrapper .sidebar-heading {
  text-align:center;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 16rem;
}

.fa-circle{
	font-size:8px;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

.btn-group img{
	max-width:75%;
	padding:10px;
}

.row {    
    margin-right: 0px;
    margin-left: 0px;
}

.container-fluid{
	padding-top:40px;
}

.table td, .table th {
    padding: 0.2rem;    
}

.num-style{
	font-family: Calibri, Verdana;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
  
  #sidebar-wrapper .menu-content {
		display: block;
	}
	
}

#sidebar-wrapper{
    background-color: #002E9D;
    line-height: 50px;
    display: block;    
    /*font-size: 13px;*/
	font-size: 0.8rem;
}

.sidebar-heading img{
	text-align:center;
    max-width:70%;
	padding:60px 10px 40px 10px;
}

#sidebar-wrapper li:hover {
    border-left: 3px solid #0098DD;
    background-color: #001865;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

#sidebar-wrapper ul .active,
#sidebar-wrapper li .active {   
    background-color: #0098DD;    
}

#sidebar-wrapper li a {
    text-decoration: none;
    color: #e1ffff;
	padding-left:20px;
}

#sidebar-wrapper ul, #sidebar-wrapper li {
    list-style: none;
    padding: 0px;
    margin: 0px;
    line-height: 35px;
    cursor: pointer;
}

#sidebar-wrapper li {    
    /* border-left: 3px solid #2e353d; */
    border-bottom: 1px solid #001865;	
}

#sidebar-wrapper ul :not(collapsed) .arrow:before, #sidebar-wrapper li :not(collapsed) .arrow:before {
    font-family: FontAwesome;
    content: "\f078";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
    float: right;
}

#sidebar-wrapper ul .sub-menu li, #sidebar-wrapper li .sub-menu li {
    /* background-color: #181c20; */
	color:#FFF;
    background-color: #001865;
    border: none;
    line-height: 28px;
    border-bottom: 1px solid #23282e;
    margin-left: 0px;
	padding-left: 20px;
}

#sidebar-wrapper ul .sub-menu li:before, #sidebar-wrapper li .sub-menu li:before {
    font-family: FontAwesome;
    content: "\f105";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
}

#sidebar-wrapper .title-list {       
    border-bottom: none;
}
.title-list{
	color:#fff;
	border-bottom:none;	
}

.title-list h3{
	font-size:18px;
}

.navbar-toggler-icon {    
    width: 1em;
    height: 1em;
}

.dv-head{
	margin-top:-10px;	
	background-color: #F3F6F9;
}
.tbl-001 { 
background-color:#EEEAEB;
}

.tbl-002 {
-moz-box-shadow:-3px 3px 3px #CBCBCB;
-webkit-box-shadow:-3px 3px 3px #CBCBCB;
box-shadow:-3px 3px 3px #CBCBCB; 
height:37px;
vertical-align:middle;
border-radius: 0px 8px 8px 0px; 
border: 0px currentColor; 
-moz-border-radius: 0px 8px 8px 0px; 
-webkit-border-radius: 0px 8px 8px 0px; 
-o-border-radius: 0px 8px 8px 0px; 
-ms-border-radius: 0px 8px 8px 0px; 
-khtml-border-radius: 0px 8px 8px 0px; 
background-color:#969695;
}

.tbl-003 { 
padding:5px; 
border-radius: 10px; 
border: 0px currentColor; 
-moz-border-radius: 10px; 
-webkit-border-radius: 10px; 
-o-border-radius: 10px; 
-ms-border-radius: 10px; 
-khtml-border-radius: 10px;
background-color:#f4f4f4;
}
.tbl-004 { 
padding:5px; 
border-radius: 10px; 
border: 0px currentColor; 
-moz-border-radius: 10px; 
-webkit-border-radius: 10px; 
-o-border-radius: 10px; 
-ms-border-radius: 10px; 
-khtml-border-radius: 10px;
background-color:#BBBABA;
}
.tbl-005 { 
padding:5px; 
border-radius: 10px; 
border: 0px currentColor; 
-moz-border-radius: 10px; 
-webkit-border-radius: 10px; 
-o-border-radius: 10px; 
-ms-border-radius: 10px; 
-khtml-border-radius: 10px;
/*background: #f7f7f7; */
background: -moz-linear-gradient(top, #f7f7f7 0%, #a2a2a2 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#a2a2a2)); 
background: -webkit-linear-gradient(top, #f7f7f7 0%,#a2a2a2 100%); 
background: -o-linear-gradient(top, #f7f7f7 0%,#a2a2a2 100%); 
background: -ms-linear-gradient(top, #f7f7f7 0%,#a2a2a2 100%);
background: linear-gradient(top, #f7f7f7 0%,#a2a2a2 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#a2a2a2',GradientType=0 );
}
.tbl-006 { 
padding:5px; 
border-radius: 10px; 
border: 0px currentColor; 
-moz-border-radius: 10px; 
-webkit-border-radius: 10px; 
-o-border-radius: 10px; 
-ms-border-radius: 10px; 
-khtml-border-radius: 10px;
/*background-color:#E8EDA6;*/
background-color:whitesmoke;
font-size:12px;
}

.tbl-detalle-rigth{
  font-size:15px; 
  color:#343e48; 
}

.tbl-007 { 
/*background-color:#C4D021;*/
background-color:   #0098DD22;
}
.tbl-008 { 
padding:5px; 
border-radius: 10px; 
border: 0px currentColor; 
-moz-border-radius: 10px; 
-webkit-border-radius: 10px; 
-o-border-radius: 10px; 
-ms-border-radius: 10px; 
-khtml-border-radius: 10px;
/*background: #f7f7f7; */
background: -moz-linear-gradient(top, #e5e5e5 0%, #ffffff 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e5e5), color-stop(100%,#ffffff)); 
background: -webkit-linear-gradient(top, #e5e5e5 0%,#ffffff 100%); 
background: -o-linear-gradient(top, #e5e5e5 0%,#ffffff 100%); 
background: -ms-linear-gradient(top, #e5e5e5 0%,#ffffff 100%);
background: linear-gradient(top, #e5e5e5 0%,#ffffff 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#ffffff',GradientType=0 );
}
.tbl-009 { 
padding:5px; 
border-radius: 8px 8px 0px 0px; 
border: 0px currentColor; 
-moz-border-radius: 8px 8px 0px 0px; 
-webkit-border-radius: 8px 8px 0px 0px; 
-o-border-radius: 8px 8px 0px 0px; 
-ms-border-radius: 8px 8px 0px 0px; 
-khtml-border-radius: 8px 8px 0px 0px;
background-color:#fff;
}
.tbl-010 { 
padding:5px; 
border-radius: 8px 8px 0px 0px; 
border: 0px currentColor; 
-moz-border-radius: 8px 8px 0px 0px; 
-webkit-border-radius: 8px 8px 0px 0px; 
-o-border-radius: 8px 8px 0px 0px; 
-ms-border-radius: 8px 8px 0px 0px; 
-khtml-border-radius: 8px 8px 0px 0px;
/*background-color:#D1D1D1;*/
background-color:whitesmoke;
}
.tbl-011 { 
padding:5px; 
border-radius: 8px 8px 0px 0px; 
border: 0px currentColor; 
-moz-border-radius: 8px 8px 0px 0px; 
-webkit-border-radius: 8px 8px 0px 0px; 
-o-border-radius: 8px 8px 0px 0px; 
-ms-border-radius: 8px 8px 0px 0px; 
-khtml-border-radius: 8px 8px 0px 0px;
/*background-color:#808080;*/
background-color:#0098DD22; 
}


.button {
    text-decoration: none;
    padding: 4px 22px;
    border: 0px currentColor;
    text-align: center;
    color: #ffffff;
    line-height: 16px;
    font-size: 12px;
  
}
@media imprimir {
  .ocultar-al-imprimir {
    display: none;
  }
}

a, button {
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
}

#bottom-footer {
    border-top: 2px solid #FFFFFF;
    border-top: .125rem solid #0090d7;
    padding: .625rem 0;
}

#bottom-footer ul {
    line-height: 10px;
    line-height: .625rem;
    text-align: right;
    font-family: Arial,"MS Trebuchet",sans-serif;
}
#bottom-footer ul {
    margin-bottom: 10px;
}
#bottom-footer ul li {
    font-family: BNPPSansRegular;

    display: inline;
    font-size: 11px;
    font-size: .6875rem;
    padding-top: 8px;
    border-top: 0;
    font-weight: 400;
    text-decoration:none;
}

#bottom-footer ul, #footer ul {
    list-style: none;
    margin: 0;
    border-top: 1px solid #fff;
    border-top: .0625rem solid #fff;
    padding: .625rem 0 0;
}
