<div class=" row dv-head">
    <div class="col-md-8">
        <h1><span>Sistema de Fondos y Cajas de Ahorro</span></h1>
        <h2>{{ title }}</h2>
        <h4>{{ subtitle }}</h4>
    </div>
    <div class="col-md-4">
        <div class="btn-group controls float-right" role="group">
            <div class="btn-group controls float-right" role="group" id="menu-hrlp" style="display: block;">
                <img src="../../../assets/picts/btn-back.png" width="50" height="50" (click)='back()' *ngIf="menuBtn">
                &nbsp;
                <img src="../../../assets/picts/btn-print.png" width="50" height="50" (click)='imprimir()'
                    *ngIf="menuBtn"> &nbsp;
                <img src="../../../assets/picts/btn-home.png" width="50" height="50" routerLink="/inicio"
                    *ngIf="menuBtn"> &nbsp;
                <img src="../../../assets/picts/btn-exit.png" width="50" height="50" routerLink="/login"
                    *ngIf="exitBtn">

            </div>
        </div><br>
    </div>
</div>