<app-header [title]="'DEMO CAJA DE AHORRO'" [subtitle]="'Saldos por Nómina'"></app-header>

<div id="page-content-wrapper">
	<div class="container-fluid">
		<table class="table table-bordered"
			style="max-width:60%; margin:0px auto; font-weight:600; text-align:center; color:#464646">
			<tbody>
				<tr>
					<th colspan="3" style="background-color:#001865; color:#FFF">
						<p>{{nombre}}</p>
					</th>
				</tr>
				<tr>
					<td colspan="3" style="background-color:#001865; color:#FFF">
						Monex
					</td>
				</tr>
				<tr>
					<th style="background-color:#FFFFFF"> Subcuenta </th>
					<th style="background-color:#FFFFFF"> Saldo </th>
					<th style="background-color:#FFFFFF"> Subtotal </th>
				</tr>

				<tr class="tbl-007">
					<td style="text-align:left"> Aportación Empleado</td>
					<td align="right" class="num-style"> $ 2,689,200.24 </td>
					<td>&nbsp;</td>
				</tr>

				<tr style="text-align:left" class="tbl-007">
					<td> Rendimientos Aportación Empleado </td>
					<td align="right" class="num-style"> $ 13,281.16 </td>

					<td align="right" class="num-style"> <b>
							&nbsp;
						</b> </td>
				</tr>

				<tr style="text-align:left" class="tbl-007">
					<td>Intereses Aportación Empleado </td>
					<td align="right" class="num-style"> $ 39,023.29 </td>

					<td align="right" class="num-style"> <b> $ 2,741,504.69 </b> </td>
				</tr>

				<tr>
					<td style="text-align:left"> Aportacion Extraordinaria</td>
					<td align="right" class="num-style"> $ 756,992.99 </td>
					<td>&nbsp;</td>
				</tr>

				<tr style="text-align:left">
					<td> Rendimientos Aportacion Extraordinaria </td>
					<td align="right" class="num-style"> $ 481.20 </td>

					<td align="right" class="num-style"> <b>
							&nbsp;
						</b> </td>
				</tr>

				<tr style="text-align:left">
					<td>Intereses Aportacion Extraordinaria </td>
					<td align="right" class="num-style"> $ 334.28 </td>

					<td align="right" class="num-style"> <b> $ 757,808.47 </b> </td>
				</tr>

				<tr class="tbl-007">
					<td style="text-align:left">Total </td>
					<td class="num-style" align="right">&nbsp;</td>
					<td class="num-style" align="right"> <b> $ 3,499,313.17 </b> </td>
				</tr>
			</tbody>
		</table>
		<br><br>

		<table class="table table-bordered"
			style="max-width:50%; margin:0px auto; font-weight:600; text-align:center; color:#464646">
			<tbody>
				<tr style="text-align:left">
					<td> Aportaciones </td>
					<td align="right" class="num-style">
						$ 3,446,193.23
					</td>
				</tr>

				<tr style="text-align:left" class="num-style">
					<td> Rendimientos </td>
					<td align="right" class="num-style">
						$ 12,958.37
					</td>
				</tr>

				<tr style="text-align:left" class="num-style">
					<td> Intereses por Préstamos </td>
					<td align="right" class="num-style">
						$ 39,357.96
					</td>
				</tr>

				<tr style="text-align:left" class="num-style">
					<td> Saldo en Préstamos </td>
					<td align="right" class="num-style">
						$ 35,499.99
					</td>
				</tr>

				<tr style="text-align:left" class="num-style">
					<td> Pagos de Préstamos </td>
					<td align="right" class="num-style">
						$ 1,819,800.01
					</td>
				</tr>

				<tr style="text-align:left" class="num-style">
					<td> Retiros </td>
					<td align="right" class="num-style">
						$ 1,997,361.83
					</td>
				</tr>

				<tr style="text-align:left" class="num-style">
					<td> Bajas </td>
					<td align="right" class="num-style">
						$ 536,332.42
					</td>
				</tr>

				<tr class="tbl-007">
					<td align="center">Inversiones </td>
					<td align="right" class="num-style"> $ 929,315.32 </td>
				</tr>
			</tbody>
		</table>
		<p>&nbsp;</p>

	</div>
	<p>&nbsp;</p>
	<br>
	<br>
	<br>

	<br>
</div>