ul,
ol,
dl {
    padding: 0;
    margin: 0;
}

h1,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}

a img {
    border: none;
}

a {
    font-size: 14px;
    color: #0052cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* v {
    font-size: 13px;
    color: #3d3d3d;
    text-decoration: none;
    font-weight: bold;
} */

.title {
    color: #0093D2;
    font-family: 'Raleway', Verdana;
    /*font-size: 18px;*/
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 30px;
    padding-bottom: 5px;

}

.title2 {
    color: #707070;
    font-family: 'Raleway', Verdana;
    font-size: 17px;
    font-weight: normal;
    margin-bottom: 0px;
    margin-top: 30px;
    padding-bottom: 5px;
}


p {
    font: 100%/1.5 Arial, Helvetica, Tahoma, Geneva, sans-serif;
    font-size: 13px;
    padding-top: 0px;
    color: #000;
}

.container {
    width: 924px;

    margin: 0 auto;
    /* background-image:url(bkg_content.png); */
    background-repeat: no-repeat;
    background-position: top;
    overflow-x: hidden;
}

.bkgBanner {
    /* background-image:url(bkg_banner.png); */
    background-repeat: no-repeat;
    background-position: bottom;
}

.headercontainer {
    width: 970px;
    margin: 0 auto;
    /* background-image: url(bkg_header.png); */
    background-repeat: no-repeat;
    background-position: top;
}

footer {
    width: 970px;
    margin: 0 auto;
    /* background-image: url(bkg_content_footer.png); */
    background-repeat: no-repeat;
    background-position: bottom;
}

.pie {
    width: 920px;
    padding: 20px;
    margin: 0 auto;
}

.footerWrapper {
    width: 100%;
    margin: 0 auto;
    /* background-image: url(bkg_wrapper_footer.png); */
    background-repeat: repeat-x;
    background-position: bottom;
}

header {
    /*background: #ADB96E;*/
    padding-top: 29px;
    margin-left: 29px;
    margin-right: 53px;
}

.sidebar {
    float: left;
    width: 155px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.mnuSup {
    width: 370px;
    float: right;
    /*background:#D1D1D1;*/
    padding: 5px;
}

.mnuSup2 {
    width: 870px;
    float: right;
    /*background:#D1D1D1;*/
    padding: 5px;
}

.mnuSup3 {
    width: 570px;
    float: right;
    /*background:#D1D1D1;*/
    padding: 5px;
}

.shadowleft {
    -moz-box-shadow: -3px 3px 3px #999999;
    -webkit-box-shadow: -3px 3px 3px #999999;
    box-shadow: -3px 3px 3px #999999;
}

.content {
    width: 888px;
    margin-left: 29px;
    margin-right: 53px;
}

.contentInt {
    padding: 10px 20px;
    margin: 3px 20px;
    width: 705px;
    float: right;
    background-color: #FFFFFF;
    border-radius: 7px;
    border: 0px currentColor;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -o-border-radius: 7px;
    -ms-border-radius: 7px;
    -khtml-border-radius: 7px;
}

.content ul,
.content ol {
    padding: 0 15px 15px 40px;
}

nav ul {
    list-style: none;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, Tahoma, Geneva, sans-serif;
    font-size: 11px;
    text-transform: uppercase;

}

nav ul li {
    text-align: right;
}

nav ul a,
nav ul a:visited {
    padding: 2px 0px 2px 0px;
    display: block;
    width: 155px;
    text-decoration: none;
}

nav ul a:hover,
nav ul a:active,
nav ul a:focus {
    background: #75B5F3;
    color: #000;
}


footer {
    padding: 1px 20px;
    position: relative;
    clear: both;
}

header,
section,
footer,
aside,
nav,
article,
figure {
    display: block;
}

.lnk-000:link {
    font-size: 12px;
    color: #3d3d3d;
    text-decoration: none;
}

.lnk-000:hover,
.lnk-000:active,
.lnk-000:focus,
.lnk-000:visited {
    color: #000000;
    text-decoration: underline;
}

.lnk-001,
.lnk-001:link {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 10px;
    color: #5B595A;
    text-decoration: none;
}

.lnk-001:hover,
.lnk-001:active,
.lnk-001:focus,
.lnk-001:visited {
    text-decoration: underline;
    color: #000;
}

.lnk-002,
.lnk-002:link {
    line-height: 120%;
    font-family: Tahoma, Geneva, sans-serif;
    FONT-SIZE: 12px;
    color: #5B595A;
    text-decoration: none;
}

.lnk-002:hover,
.lnk-002:active,
.lnk-002:focus,
.lnk-002:visited {
    text-decoration: underline;
}

.lnk-003,
.lnk-003:link {
    line-height: 120%;
    font-family: Tahoma, Geneva, sans-serif;
    FONT-SIZE: 12px;
    color: #333;
    font-stretch: extra-condensed;
    text-decoration: none;
}

.lnk-003:hover,
.lnk-003:active,
.lnk-003:focus,
.lnk-003:visited {
    text-decoration: underline;
}

.lnk-004,
.lnk-004:link {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    color: #767776;
    text-decoration: none;
}

.lnk-004:hover,
.lnk-004:active,
.lnk-004:focus,
.lnk-004:visited {
    text-decoration: underline;
}

.txt_001 {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    color: #B7BA53;
    font-weight: bold;
}

.txt_002 {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 10px;
    color: #5B595A;
}

.txt_003 {
    line-height: 120%;
    font-family: Tahoma, Geneva, sans-serif;
    FONT-SIZE: 13px;
    color: #5B595A;
}

.txt_004 {
    line-height: 120%;
    font-family: 'Lato', sans-serif;
    FONT-SIZE: 13px;
    color: #333;
    font-stretch: extra-condensed;
}

.txt_0044 {
    line-height: 120%;
    font-family: Tahoma, Geneva, sans-serif;
    FONT-SIZE: 30px;
    color: #1a1a1a;
    font-stretch: extra-condensed;
}

.txt_005 {
    font-family: Arial, Helvetica, Tahoma, Geneva, sans-serif;
    font-size: 12px;
    color: #fff;
    font-stretch: extra-condensed;
}

.txt_006 {
    font-family: Arial, Helvetica, Tahoma, Geneva, sans-serif;
    font-size: 11px;
    color: #C5C5C3;
    font-stretch: extra-condensed;
}

.txt_007 {
    font-family: Arial, Helvetica, Tahoma, Geneva, sans-serif;
    font-size: 14px;
    color: #0090d7;
}

.txt_008 {
    font-family: Arial, Helvetica, Tahoma, Geneva, sans-serif;
    font-size: 13px;
    color: #fff;
}

.txt_009 {
    font-family: Arial, Helvetica, Tahoma, Geneva, sans-serif;
    font-size: 13px;
    color: #000;
}

.txt_010 {
    font-family: Arial, Helvetica, Tahoma, Geneva, sans-serif;
    font-size: 10px;
    color: #000;
}

.txt_011 {
    font-family: Arial, Helvetica, Tahoma, Geneva, sans-serif;
    font-size: 10px;
    color: #D1D1D1;
}

.txt_012 {
    font-family: Arial, Helvetica, Tahoma, Geneva, sans-serif;
    font-size: 10px;
    color: #404040;
}

.frm_001 {
    height: 25px;
    border: #CDCDCB 1px solid;
    background-color: #F0F0EE;
    font-family: Tahoma, Geneva, sans-serif;
    FONT-SIZE: 11px;
    color: #626E7A;
    font-weight: bold;
}

.frm-002 {
    font-family: Arial, Helvetica, Tahoma, Geneva, sans-serif;
    color: #333;
    font-size: 11px;
    border: 2px solid #ccc;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-appearance: none;
    padding: 4px 7px;
    outline: 0;
    /* background-image: url(bkg_forms.jpg?31afecc9b); */
    background-repeat: repeat-x;
    background-position: top;
}

.frm-002:focus {
    border: 2px solid #D5D10F;
}

.frm-003 {
    font-family: Arial, Helvetica, Tahoma, Geneva, sans-serif;
    color: #333;
    font-size: 12px;
    border: 1px solid #969695;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;
    -khtml-border-radius: 6px;
    -webkit-appearance: none;
    padding: 4px 7px;
    outline: 0;
    background-color: #F0F0EE;
    height: 15px;
    width: 180px;
    ;
}

.frm-004 {
    font-family: Arial, Helvetica, Tahoma, Geneva, sans-serif;
    color: #333;
    font-size: 12px;
    border: 1px solid #969695;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;
    -khtml-border-radius: 6px;
    -webkit-appearance: none;
    padding: 4px 7px;
    outline: 0;
    background-color: #F0F0EE;
    height: 25px;
    width: 195px;
    ;
}

.frm_005 {
    height: 25px;
    border: #CDCDCB 1px solid;
    background-color: #F0F0EE;
    font-family: Tahoma, Geneva, sans-serif;
    FONT-SIZE: 11px;
    color: #626E7A;
    font-weight: bold;
    width: 380px;
}

.tbl-001 {
    background-color: #EEEAEB;
}

.tbl-002 {
    -moz-box-shadow: -3px 3px 3px #CBCBCB;
    -webkit-box-shadow: -3px 3px 3px #CBCBCB;
    box-shadow: -3px 3px 3px #CBCBCB;
    height: 37px;
    vertical-align: middle;
    border-radius: 0px 8px 8px 0px;
    border: 0px currentColor;
    -moz-border-radius: 0px 8px 8px 0px;
    -webkit-border-radius: 0px 8px 8px 0px;
    -o-border-radius: 0px 8px 8px 0px;
    -ms-border-radius: 0px 8px 8px 0px;
    -khtml-border-radius: 0px 8px 8px 0px;
    background-color: #969695;
}

.tbl-003 {
    padding: 5px;
    border-radius: 10px;
    border: 0px currentColor;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    -khtml-border-radius: 10px;
    background-color: #f4f4f4;
}

.tbl-004 {
    padding: 5px;
    border-radius: 10px;
    border: 0px currentColor;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    -khtml-border-radius: 10px;
    background-color: #BBBABA;
}

.tbl-005 {
    padding: 5px;
    border-radius: 10px;
    border: 0px currentColor;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    -khtml-border-radius: 10px;
    /*background: #f7f7f7; */
    background: -moz-linear-gradient(top, #f7f7f7 0%, #a2a2a2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #a2a2a2));
    background: -webkit-linear-gradient(top, #f7f7f7 0%, #a2a2a2 100%);
    background: -o-linear-gradient(top, #f7f7f7 0%, #a2a2a2 100%);
    background: -ms-linear-gradient(top, #f7f7f7 0%, #a2a2a2 100%);
    background: linear-gradient(top, #f7f7f7 0%, #a2a2a2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#a2a2a2', GradientType=0);
}

.tbl-006 {
    padding: 5px;
    border-radius: 10px;
    border: 0px currentColor;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    -khtml-border-radius: 10px;
    /*background-color:#E8EDA6;*/
    background-color: whitesmoke;
    font-size: 12px;
}

.tbl-detalle-left {
    font-size: 15px;
    color: white;
    background-color: #343e48;
}

.tbl-detalle-rigth {
    font-size: 15px;
    color: #343e48;
}

.tbl-tittle {
    font-size: 12px;
    color: #343e48;
}

.tbl-007 {
    /*background-color:#C4D021;*/
    background-color: #0098DD22;
}

.tbl-008 {
    padding: 5px;
    border-radius: 10px;
    border: 0px currentColor;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    -khtml-border-radius: 10px;
    /*background: #f7f7f7; */
    background: -moz-linear-gradient(top, #e5e5e5 0%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e5e5e5), color-stop(100%, #ffffff));
    background: -webkit-linear-gradient(top, #e5e5e5 0%, #ffffff 100%);
    background: -o-linear-gradient(top, #e5e5e5 0%, #ffffff 100%);
    background: -ms-linear-gradient(top, #e5e5e5 0%, #ffffff 100%);
    background: linear-gradient(top, #e5e5e5 0%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5e5e5', endColorstr='#ffffff', GradientType=0);
}

.tbl-009 {
    padding: 5px;
    border-radius: 8px 8px 0px 0px;
    border: 0px currentColor;
    -moz-border-radius: 8px 8px 0px 0px;
    -webkit-border-radius: 8px 8px 0px 0px;
    -o-border-radius: 8px 8px 0px 0px;
    -ms-border-radius: 8px 8px 0px 0px;
    -khtml-border-radius: 8px 8px 0px 0px;
    background-color: #fff;
}

.tbl-010 {
    padding: 5px;
    border-radius: 8px 8px 0px 0px;
    border: 0px currentColor;
    -moz-border-radius: 8px 8px 0px 0px;
    -webkit-border-radius: 8px 8px 0px 0px;
    -o-border-radius: 8px 8px 0px 0px;
    -ms-border-radius: 8px 8px 0px 0px;
    -khtml-border-radius: 8px 8px 0px 0px;
    /*background-color:#D1D1D1;*/
    background-color: whitesmoke;
}

.tbl-011 {
    padding: 5px;
    border-radius: 8px 8px 0px 0px;
    border: 0px currentColor;
    -moz-border-radius: 8px 8px 0px 0px;
    -webkit-border-radius: 8px 8px 0px 0px;
    -o-border-radius: 8px 8px 0px 0px;
    -ms-border-radius: 8px 8px 0px 0px;
    -khtml-border-radius: 8px 8px 0px 0px;
    /*background-color:#808080;*/
    background-color: #d4e5f2;
}


.button {
    text-decoration: none;
    padding: 4px 22px;
    border: 0px currentColor;
    text-align: center;
    color: #ffffff;
    line-height: 16px;
    font-size: 12px;


}

@media imprimir {
    .ocultar-al-imprimir {
        display: none;
    }
}

a,
button {
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
}



#bottom-footer {
    border-top: 2px solid #FFFFFF;
    border-top: .125rem solid #0090d7;
    padding: .625rem 0;
}

#bottom-footer ul {
    line-height: 10px;
    line-height: .625rem;
    text-align: right;
    font-family: Arial, "MS Trebuchet", sans-serif;
}

#bottom-footer ul {
    margin-bottom: 10px;
}

#bottom-footer ul li {
    font-family: BNPPSansRegular;

    display: inline;
    font-size: 11px;
    font-size: .6875rem;
    padding-top: 8px;
    border-top: 0;
    font-weight: 400;
    text-decoration: none;
}

#bottom-footer ul,
#footer ul {
    list-style: none;
    margin: 0;
    border-top: 1px solid #fff;
    border-top: .0625rem solid #fff;
    padding: .625rem 0 0;
}