<app-header [title]="'Reporte Mensual: CA9504 - DEMO CAJA DE AHORRO    del 14 noviembre 2015 al 30 noviembre 2022'"
    [subtitle]="'Detalle Plan'"></app-header>


<form action="ReporteMensualEmpresa.rkw" method="post">
    <input type="hidden" value="CA9504" name="cvecom">
    <input type="hidden" value="2022" name="fechaAno">
    <input type="hidden" value="11" name="fechaMes">
    <input type="hidden" value="30" name="fechaDia">
    &nbsp;&nbsp;&nbsp;&nbsp;<b> Mostrar Nómina : <b> &nbsp;&nbsp;
    <select name="Nomina" null="">
        <option value="-1"> -- Todas -- </option>
        <option value="40">Razón Social 1, S.A. de C.V. </option>
        <option value="46">Razón Social 2, S.A. de C.V. </option>
        <option value="49">Razón Social 3, S.A. de C.V. </option>
        <option value="52">Razón Social 4, S.A. de C.V. </option>
        <option value="67">Razón Social 5, S.A. de C.V. </option>
        <option value="CONC">CONCENTRADORA </option>
    </select>
    &nbsp;&nbsp; <input style="background-color:#0098DD" type="submit" value="Mostrar Reporte por Nómina"
        class="button-accept button">
    <br><br>

    <div class="container-fluid">
        <div style="height: 400px; overflow-y: scroll;">
            <table id="customers" class="table table-bordered"
                style="margin:0px auto; font-weight:600;width: 200%; overflow-y: scroll;">
                <tbody>
                    <tr style="background-color:#001865; color:#FFF; text-align:center">
                        <th rowspan="2"> Periodo </th>
                        <th colspan="5"> Ingresos </th>
                        <th colspan="3"> Egresos </th>
                        <th rowspan="2"> Saldo Final </th>
                        <th style="background-color:#0098DD; color:#FFF; text-align:center" colspan="6">
                            <font color="white"> Préstamos </font>
                        </th>
                        <th rowspan="2"> Saldo Total</th>
                    </tr>
                    <tr class="table table-bordered" style="margin:0px auto; font-weight:600">

                        <th style="background-color:#001865; color:#FFF; text-align:center"> Aportación
                            Empleado </th>

                        <th style="background-color:#001865; color:#FFF; text-align:center"> Aportacion
                            Extraordinaria </th>

                        <th style="background-color:#001865; color:#FFF; text-align:center"> Total
                            Aportaciones </th>
                        <th style="background-color:#001865; color:#FFF; text-align:center"> Rendimientos
                        </th>

                        <th style="background-color:#001865; color:#FFF; text-align:center"> Intereses </th>
                        <th style="background-color:#001865; color:#FFF; text-align:center"> Retiros </th>
                        <th style="background-color:#001865; color:#FFF; text-align:center"> Bajas </th>
                        <th style="background-color:#001865; color:#FFF; text-align:center"> Total Egresos
                        </th>

                        <th style="background-color:#0098DD; color:#FFF; text-align:center"> Saldo Inicial
                        </th>
                        <th style="background-color:#0098DD; color:#FFF; text-align:center"> Préstamos
                            Periodo </th>

                        <th style="background-color:#0098DD; color:#FFF; text-align:center"> Intereses
                            Generados </th>

                        <th style="background-color:#0098DD; color:#FFF; text-align:center"> Amortizaciones
                        </th>
                        <th style="background-color:#0098DD; color:#FFF; text-align:center"> Intereses </th>
                        <th style="background-color:#0098DD; color:#FFF; text-align:center"> Saldo Final
                        </th>
                    </tr>
                </tbody>

                <tbody>
                    <tr class="tbl-007">
                        <td align="center"> noviembre 2015</td>

                        <td align="center" class="num-style"> $ 34,125.00 </td>

                        <td align="center" class="num-style"> $ 0.00 </td>


                        <td align="center" class="num-style"> $ 34,125.00 </td>
                        <td align="center" class="num-style"> $ 0.00 </td>


                        <td align="center" class="num-style"> $ 0.00 </td>

                        <td align="center" class="num-style"> $ 0.00 </td>
                        <td align="center" class="num-style"> $ 0.00 </td>
                        <td align="center" class="num-style"> $ 0.00 </td>
                        <td align="center" class="num-style"> $ 34,125.00 </td>


                        <td align="center" class="num-style"> $ 0.00 </td>
                        <td align="center" class="num-style"> $ 0.00 </td>

                        <td align="center" class="num-style"> $ 0.00
                            <!-- 0 0.000 0 -->

                            <!-- 0.000 0.000 34125.000 -->
                        </td>
                        <td align="center" class="num-style"> $ 0.00 </td>
                        <td align="center" class="num-style"> $ 0.00 </td>

                        <td align="center" class="num-style"> $ 0.00 </td>



                        <td align="center" class="num-style"> $ 34,125.00 </td>

                    </tr>


                    <tr>
                        <td align="center"> diciembre 2015</td>

                        <td align="center" class="num-style"> $ 77,050.00 </td>

                        <td align="center" class="num-style"> $ 0.00 </td>


                        <td align="center" class="num-style"> $ 77,050.00 </td>
                        <td align="center" class="num-style"> $ 0.00 </td>


                        <td align="center" class="num-style"> $ 582.23 </td>

                        <td align="center" class="num-style"> $ 0.00 </td>
                        <td align="center" class="num-style"> $ 0.00 </td>
                        <td align="center" class="num-style"> $ 0.00 </td>
                        <td align="center" class="num-style"> $ 77,632.23 </td>


                        <td align="center" class="num-style"> $ 0.00 </td>
                        <td align="center" class="num-style"> $ 0.00 </td>

                        <td align="center" class="num-style"> $ 0.00
                            <!-- 0.000 0.000 34125.000 -->

                            <!-- 0.000 0.000 77632.230 -->
                        </td>
                        <td align="center" class="num-style"> $ 0.00 </td>
                        <td align="center" class="num-style"> $ 0.00 </td>

                        <td align="center" class="num-style"> $ 0.00 </td>



                        <td align="center" class="num-style"> $ 77,632.23 </td>

                    </tr>

                    <tr class="tbl-007">
                        <td align="center"> marzo 2016</td>

                        <td align="center" class="num-style"> $ 70,050.00 </td>

                        <td align="center" class="num-style"> $ 0.00 </td>


                        <td align="center" class="num-style"> $ 70,050.00 </td>
                        <td align="center" class="num-style"> $ 0.00 </td>


                        <td align="center" class="num-style"> $ 2,814.65 </td>

                        <td align="center" class="num-style"> $ 0.00 </td>
                        <td align="center" class="num-style"> $ 0.00 </td>
                        <td align="center" class="num-style"> $ 0.00 </td>
                        <td align="center" class="num-style"> $ 72,864.65 </td>


                        <td align="center" class="num-style"> $ 187,399.12 </td>
                        <td align="center" class="num-style"> $ 60,000.00 </td>

                        <td align="center" class="num-style"> $ 0.00
                            <!-- 187399.120 60000.000 -2201.940 -->

                            <!-- 217684.360 60000.000 42579.410 -->
                        </td>
                        <td align="center" class="num-style"> $ 26,715.54 </td>
                        <td align="center" class="num-style"> $ 2,999.22 </td>

                        <td align="center" class="num-style"> $ 217,684.36 </td>



                        <td align="center" class="num-style"> $ 42,579.41 </td>

                    </tr>


                    <tr>
                        <td align="center"> abril 2016</td>

                        <td align="center" class="num-style"> $ 69,150.00 </td>

                        <td align="center" class="num-style"> $ 0.00 </td>


                        <td align="center" class="num-style"> $ 69,150.00 </td>
                        <td align="center" class="num-style"> $ 0.00 </td>


                        <td align="center" class="num-style"> $ 3,088.67 </td>

                        <td align="center" class="num-style"> $ 4,000.00 </td>
                        <td align="center" class="num-style"> $ 0.00 </td>
                        <td align="center" class="num-style"> $ 4,000.00 </td>
                        <td align="center" class="num-style"> $ 68,238.67 </td>


                        <td align="center" class="num-style"> $ 217,684.36 </td>
                        <td align="center" class="num-style"> $ 0.00 </td>

                        <td align="center" class="num-style"> $ 0.00
                            <!-- 217684.360 0.000 42579.410 -->

                            <!-- 188523.750 0.000 97399.280 -->
                        </td>
                        <td align="center" class="num-style"> $ 26,215.54 </td>
                        <td align="center" class="num-style"> $ 2,945.07 </td>

                        <td align="center" class="num-style"> $ 188,523.75 </td>



                        <td align="center" class="num-style"> $ 97,399.28 </td>

                    </tr>


                    <tr class="tbl-007">
                        <td align="center"> mayo 2016</td>

                        <td align="center" class="num-style"> $ 70,050.00 </td>

                        <td align="center" class="num-style"> $ 0.00 </td>


                        <td align="center" class="num-style"> $ 70,050.00 </td>
                        <td align="center" class="num-style"> $ 668.19 </td>


                        <td align="center" class="num-style"> $ 4,876.73 </td>

                        <td align="center" class="num-style"> $ 10,000.00 </td>
                        <td align="center" class="num-style"> $ 0.00 </td>
                        <td align="center" class="num-style"> $ 10,000.00 </td>
                        <td align="center" class="num-style"> $ 65,594.92 </td>


                        <td align="center" class="num-style"> $ 188,523.75 </td>
                        <td align="center" class="num-style"> $ 86,000.00 </td>

                        <td align="center" class="num-style"> $ 0.00
                            <!-- 188523.750 86000.000 97399.280 -->

                            <!-- 236586.070 86000.000 17532.600 -->
                        </td>
                        <td align="center" class="num-style"> $ 34,072.88 </td>
                        <td align="center" class="num-style"> $ 3,864.80 </td>

                        <td align="center" class="num-style"> $ 236,586.07 </td>



                        <td align="center" class="num-style"> $ 17,532.60 </td>

                    </tr>


                    <tr>
                        <td align="center"> junio 2016</td>

                        <td align="center" class="num-style"> $ 73,350.00 </td>

                        <td align="center" class="num-style"> $ 0.00 </td>


                        <td align="center" class="num-style"> $ 73,350.00 </td>
                        <td align="center" class="num-style"> $ 583.40 </td>


                        <td align="center" class="num-style"> $ 4,032.28 </td>

                        <td align="center" class="num-style"> $ 0.00 </td>
                        <td align="center" class="num-style"> $ 0.00 </td>
                        <td align="center" class="num-style"> $ 0.00 </td>
                        <td align="center" class="num-style"> $ 77,965.68 </td>


                        <td align="center" class="num-style"> $ 236,586.07 </td>
                        <td align="center" class="num-style"> $ 13,000.00 </td>

                        <td align="center" class="num-style"> $ 0.00
                            <!-- 236586.070 13000.000 17532.600 -->

                            <!-- 180221.110 13000.000 134330.640 -->
                        </td>
                        <td align="center" class="num-style"> $ 65,744.80 </td>
                        <td align="center" class="num-style"> $ 3,620.16 </td>

                        <td align="center" class="num-style"> $ 180,221.11 </td>



                        <td align="center" class="num-style"> $ 134,330.64 </td>

                    </tr>


                    <tr class="tbl-007">
                        <td align="center"> julio 2016</td>

                        <td align="center" class="num-style"> $ 73,550.00 </td>

                        <td align="center" class="num-style"> $ 0.00 </td>


                        <td align="center" class="num-style"> $ 73,550.00 </td>
                        <td align="center" class="num-style"> $ 877.24 </td>


                        <td align="center" class="num-style"> $ 4,395.74 </td>

                        <td align="center" class="num-style"> $ 25,000.00 </td>
                        <td align="center" class="num-style"> $ 0.00 </td>
                        <td align="center" class="num-style"> $ 25,000.00 </td>
                        <td align="center" class="num-style"> $ 53,822.98 </td>


                        <td align="center" class="num-style"> $ 180,221.11 </td>
                        <td align="center" class="num-style"> $ 0.00 </td>

                        <td align="center" class="num-style"> $ 0.00
                            <!-- 180221.110 0.000 134330.640 -->

                            <!-- 142769.310 0.000 91274.780 -->
                        </td>
                        <td align="center" class="num-style"> $ 33,698.54 </td>
                        <td align="center" class="num-style"> $ 3,753.26 </td>

                        <td align="center" class="num-style"> $ 142,769.31 </td>



                        <td align="center" class="num-style"> $ 91,274.78 </td>

                    </tr>


                    <tr>
                        <td align="center"> agosto 2016</td>

                        <td align="center" class="num-style"> $ 76,300.00 </td>

                        <td align="center" class="num-style"> $ 0.00 </td>


                        <td align="center" class="num-style"> $ 76,300.00 </td>
                        <td align="center" class="num-style"> $ 1,187.25 </td>


                        <td align="center" class="num-style"> $ 4,403.58 </td>

                        <td align="center" class="num-style"> $ 15,000.00 </td>
                        <td align="center" class="num-style"> $ 14,104.90 </td>
                        <td align="center" class="num-style"> $ 29,104.90 </td>
                        <td align="center" class="num-style"> $ 52,785.93 </td>


                        <td align="center" class="num-style"> $ 142,769.31 </td>
                        <td align="center" class="num-style"> $ 23,000.00 </td>

                        <td align="center" class="num-style"> $ 0.00
                            <!-- 142769.310 23000.000 91274.780 -->

                            <!-- 96476.540 23000.000 99078.700 -->
                        </td>
                        <td align="center" class="num-style"> $ 65,615.20 </td>
                        <td align="center" class="num-style"> $ 3,677.57 </td>

                        <td align="center" class="num-style"> $ 96,476.54 </td>



                        <td align="center" class="num-style"> $ 99,078.70 </td>

                    </tr>


                    <tr class="tbl-007">
                        <td align="center"> septiembre 2016</td>

                        <td align="center" class="num-style"> $ 75,050.00 </td>

                        <td align="center" class="num-style"> $ 0.00 </td>


                        <td align="center" class="num-style"> $ 75,050.00 </td>
                        <td align="center" class="num-style"> $ 1,110.14 </td>


                        <td align="center" class="num-style"> $ 4,780.68 </td>

                        <td align="center" class="num-style"> $ 0.00 </td>
                        <td align="center" class="num-style"> $ 2,778.32 </td>
                        <td align="center" class="num-style"> $ 2,778.32 </td>
                        <td align="center" class="num-style"> $ 78,162.50 </td>


                        <td align="center" class="num-style"> $ 96,476.54 </td>
                        <td align="center" class="num-style"> $ 80,000.00 </td>

                        <td align="center" class="num-style"> $ 0.00
                            <!-- 96476.540 80000.000 99078.700 -->

                            <!-- 134976.420 80000.000 39662.620 -->
                        </td>
                        <td align="center" class="num-style"> $ 37,281.86 </td>
                        <td align="center" class="num-style"> $ 4,218.26 </td>

                        <td align="center" class="num-style"> $ 134,976.42 </td>



                        <td align="center" class="num-style"> $ 39,662.62 </td>

                    </tr>


                    <tr>
                        <td align="center"> octubre 2016</td>

                        <td align="center" class="num-style"> $ 68,150.00 </td>

                        <td align="center" class="num-style"> $ 0.00 </td>


                        <td align="center" class="num-style"> $ 68,150.00 </td>
                        <td align="center" class="num-style"> $ 1,721.80 </td>


                        <td align="center" class="num-style"> $ 4,434.62 </td>

                        <td align="center" class="num-style"> $ 51,000.00 </td>
                        <td align="center" class="num-style"> $ 67,188.91 </td>
                        <td align="center" class="num-style"> $ 118,188.91 </td>
                        <td align="center" class="num-style"> -$ 43,882.49 </td>


                        <td align="center" class="num-style"> $ 134,976.42 </td>
                        <td align="center" class="num-style"> $ 20,000.00 </td>

                        <td align="center" class="num-style"> $ 0.00
                            <!-- 134976.420 20000.000 39662.620 -->

                            <!-- 113088.980 20000.000 -21995.050 -->
                        </td>
                        <td align="center" class="num-style"> $ 37,615.19 </td>
                        <td align="center" class="num-style"> $ 4,272.25 </td>

                        <td align="center" class="num-style"> $ 113,088.98 </td>



                        <td align="center" class="num-style"> -$ 21,995.05 </td>

                    </tr>


                    <tr class="tbl-007">
                        <td align="center"> noviembre 2016</td>

                        <td align="center" class="num-style"> $ 78,325.16 </td>

                        <td align="center" class="num-style"> $ 0.00 </td>


                        <td align="center" class="num-style"> $ 78,325.16 </td>
                        <td align="center" class="num-style"> -$ 5,624.79 </td>


                        <td align="center" class="num-style"> -$ 32,547.46 </td>

                        <td align="center" class="num-style"> $ 566,769.68 </td>
                        <td align="center" class="num-style"> $ 210.83 </td>
                        <td align="center" class="num-style"> $ 566,980.51 </td>
                        <td align="center" class="num-style"> -$ 526,827.60 </td>


                        <td align="center" class="num-style"> $ 113,088.98 </td>
                        <td align="center" class="num-style"> $ 0.00 </td>

                        <td align="center" class="num-style"> $ 0.00
                            <!-- 113088.980 0.000 -21995.050 -->

                            <!-- 55544.780 0.000 -469283.400 -->
                        </td>
                        <td align="center" class="num-style"> $ 54,434.67 </td>
                        <td align="center" class="num-style"> $ 3,109.53 </td>

                        <td align="center" class="num-style"> $ 55,544.78 </td>



                        <td align="center" class="num-style"> -$ 469,283.40 </td>

                    </tr>




                    <tr style="background-color:#001865; color:#FFF; text-align:center"
                        class="tbl-detalle-left">
                        <td align="center"> <b> Totales : </b> </td>

                        <td align="center"> $ 2,689,200.24 </td>
                        <td align="center"> $ 756,992.99 </td>
                        <td align="center"> $ 3,446,193.23 </td>
                        <td align="center"> $ 12,958.37 </td>


                        <td align="center"> $ 39,357.96 </td>

                        <td align="center"> $ 1,997,361.83 </td>
                        <td align="center"> $ 536,832.42 </td>
                        <td align="center"> $ 2,534,194.25 </td>
                        <td align="center"> $ 964,315.31 </td>


                        <td align="center"> - </td>
                        <td align="center"> $ 1,855,300.00 </td>

                        <td align="center"> $ 100.00 </td>

                        <td align="center"> $ 1,819,800.01 </td>
                        <td align="center"> $ 200,227.86 </td>
                        <td align="center"> -$ 164,627.87 </td>


                        <td align="center"> $ 1,128,943.18 </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <p>&nbsp;</p>
    <p></p>
    </b></b>
</form>