<login-header *ngIf="headLogin"></login-header>

<router-outlet *ngIf="headLogin"></router-outlet>

<div class="d-flex" id="wrapper" *ngIf="headApp">
    <app-aside></app-aside>

    <div id="page-content-wrapper">
        <nav class="navbar navbar-expand-lg navbar-light dv-head">
            <button class="navbar-toggler" type="button" id="menu-toggle">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>

        <router-outlet></router-outlet>
    </div>
</div>