<app-header [title]="'Configuración de Cartas de Liquidación'" [subtitle]="'Detalle Plan'"></app-header>

<br>
<div class="contenedor">
    <form method="post" action="GeneraCartasLiquidacion.rkw">

        <input type="hidden" name="cvecom" value="CA9504">
        <input type="hidden" name="forward" value="cartas">
    
    
        <b> Seleccionar Nominas </b>
        <table>
            <tbody>
                <tr>
    
                    <td> <input type="checkbox" value="1" name="CONC" checked=""> CONCENTRADORA &nbsp;&nbsp;</td>
    
    
                    <td> <input type="checkbox" value="1" name="QNA" checked=""> QUINCENAL &nbsp;&nbsp;</td>
    
    
                    <td> <input type="checkbox" value="1" name="40" checked=""> Razón Social 1, S.A. de C.V. &nbsp;&nbsp;
                    </td>
    
    
                    <td> <input type="checkbox" value="1" name="46" checked=""> Razón Social 2, S.A. de C.V. &nbsp;&nbsp;
                    </td>
    
    
                    <td> <input type="checkbox" value="1" name="49" checked=""> Razón Social 3, S.A. de C.V. &nbsp;&nbsp;
                    </td>
                </tr>
                <tr>
    
                    <td> <input type="checkbox" value="1" name="52" checked=""> Razón Social 4, S.A. de C.V. &nbsp;&nbsp;
                    </td>
    
    
                    <td> <input type="checkbox" value="1" name="67" checked=""> Razón Social 5, S.A. de C.V. &nbsp;&nbsp;
                    </td>
    
    
                </tr>
            </tbody>
        </table>
        <br>
    
        <b> Seleccionar Fuentes </b>
        <table>
            <tbody>
                <tr>
    
                    <td> <input type="checkbox" value="1" name="A01" checked=""> Aportación Empleado &nbsp;&nbsp;</td>
    
    
                    <td> <input type="checkbox" value="1" name="A44" checked=""> Aportacion Extraordinaria &nbsp;&nbsp;</td>
    
    
                </tr>
            </tbody>
        </table>
        <br>
    
    
        <b> Ordenar Cartas por: </b><br>
        <input type="radio" name="orden" value="1" checked=""> Agrupados por Nomina y ordenado por Clave de Participante
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="radio" name="orden" value="0"> Ordenado todo por Clave de Participante
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <br><br>
    
        <b> No incluir : </b><br>
        <input type="checkbox" name="rendimientos" value="1"> Rendimientos
    
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="checkbox" name="intereses" value="1"> Intereses
        <br><br>
    
        <b>Porcentaje : </b> &nbsp;&nbsp;&nbsp; <input type="text" name="porcentaje" maxlength="3" width="30" value="100">
        &nbsp; %
        <br><br>
    
        <b> Periódo del Ejercicio: <b> <input type="text" name="periodo" width="350">
            <br><br>
    
            <b> Filtrado por : </b> <br>
            <input type="radio" name="filtro" value="saldos"> Por Saldos &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="radio" name="filtro" value="todos" checked=""> Todos
            <br><br>
    
    
            Generación de Cartas : <br>
            <!--		
            <input type="radio" name="generacion" value="no" checked> En L&iacute;nea &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 	
            <input type="radio" name="generacion" value="si" checked> 
    -->
            <input type="hidden" name="generacion" value="si">
            A Archivo :
            <input type="text" name="nombreArchivo" value="CartasLiquidacion ">
            <br><br>
    
            <input style="background-color:#0D90D7; color:#FFF" type="submit" value="Crear Cartas">
    
    
        </b></b>
    </form>
</div>