<body class="image-body">
<div class="page-body">
	<h3>
		<div class="heading">

			<p></p>
		</div>
	</h3>

	<!-- div class="container" -->

	<!-- nuevo look and feel -->

	<div class="col6 va">
		<a id="diverror" style="width:100%"></a>
		<div id="login" class="login">
			<h4 class="white mb30 text-center"><em>Solicitud de Cambio de contrase&ntilde;a</em></h4>


			<form method="post" action="CambioContrasenia.prs" autocomplete="off">
				<div class="input">

					<input type="text" id="usuario" name="usuario" tabindex="1" autocomplete="off" value=""
						placeholder="Usuario" size="40">
					<input name="CSRFToken" type="hidden" value="${sessionScope.csrfToken}" />

				</div>


				<button id="submit_securid" tabindex="3" class="btn bg-blue" type="submit">
					Enviar
				</button>
				<div class="g-recaptcha" data-sitekey="6Lf1tBATAAAAALRD5NI9iPlofLKZ2i-8DaWwg2mI"
					style="transform: scale (0.77); - webkit-transform: scale (0.77); transform: 0 0; -webkit-transform-origin: 0 0;">
				</div>


				<p>
					<font size="2" color="red">
					</font>
				</p>
				<div align="center">
					<a class="privacidad" routerLink="/login">
						Inicio
					</a>
				</div>

				<div align="center">
					<a class="privacidad" target="_blank" href="http://www.monex.com.mx/portal/contenido/50/aviso-de-privacidad">
						<small>Aviso de Privacidad</small>
					</a>
				</div>
			</form>
		</div>
	</div>
</div>
</body>