<div class="login-container">
    <div class="page-body">

        <!-- div class="container" -->
        <h3>
            <div class="heading">
                <p></p>
            </div>
        </h3>

        <!-- nuevo look and feel -->
        <div class="col6 va">
            <a id="diverror" style="width:100%"></a>
            <div id="login" class="login">
                <h4 class="white mb30 text-center"><em>Sistema de Fondos y Cajas de Ahorro</em></h4>

                <form method="post" action="PreLogin.prs" autocomplete="off">
                    <div class="input">
                        <input type="password" id="usuario" name="usuario" tabindex="1" autocomplete="off" value=""
                            placeholder="Usuario" size="40">
                    </div>

                    <div class="input">
                        <input type="password" value="" name="password" tabindex="2" id="pin_securid" autocomplete="off"
                            placeholder="Contrase&ntilde;a" size="40">
                    </div>

                    <button routerLink="/inicio" id="submit_securid" tabindex="3" class="btn bg-blue" type="submit">
                        Enviar
                    </button>
                    <div>&nbsp;</div>

                    <p>
                        <font size="2" color="red">
                        </font>
                    </p>

                    <div class="d-flex justify-content-center">
                        <p><a routerLink="/solicitud-contrasenia">Recuperar Contrase&ntilde;a</a></p>
                    </div>

                    <div class="d-flex justify-content-center">
                        <a class="privacidad" target="_blank"
                            href="http://www.monex.com.mx/portal/contenido/50/aviso-de-privacidad">
                            <small>Aviso de Privacidad</small>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>