.login-container {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url('/assets/picts/fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.container,
article {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    width: 1024px;
    z-index: 10;
}

#login {
    width: 450px;
    margin: 0 auto;
    margin-top: 100px;
}

.login .input input {
    padding-left: 40px;
}

form button.btn {
    font-size: 15px !important;
    background-color: #0090d7;
}

form {
    display: block;
    margin-top: 0em;
}

.login button {
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
}

button {
    -webkit-appearance: button;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: buttonface;
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
}

.btn {
    color: #FFF;
    font-size: 0.75em;
    padding: 8px 30px;
    text-align: center;
    display: inline-block;
}

.login .input {
    position: relative;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="button"],
textarea {
    height: 45px;
    width: 100%;
    padding: 10px;
    background-color: #FFF;
    border: 1px solid #FFF;
}

.mb30 {
    margin-bottom: 30px;
}

.white,
.sidebar a,
footer *,
#menu h4,
.all-w *,
.modal .tabs a,
.login .tabs a {
    color: white;
}

.login .input input {
    border-radius: 25px;
}

.login .input,
.login button,
.login .switch {
    width: 80%;
    margin: 0 auto 25px;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.login .input .icon {
    width: 50px;
    height: 45px;
    position: absolute;
    top: 0;
    left: 0;
    background: #AAA center center no-repeat;
    background-image: initial;
    background-position-x: center;
    background-position-y: center;
    background-size: initial;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(170, 170, 170);
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.bg-blue {
    background-color: #0090d7;
}

button,
input[type="button"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0 0 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

user agent stylesheet h4 {
    font-weight: bold;
}

h4 {
    font-size: 1.1em;
}

a,
footer input {
    color: #000;
}

.login a {
    color: #FFF;
}

a,
button {
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
}

a {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
}

h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
}

em {
    font-weight: 300;
    font-style: normal;
}



.login button {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}

a,
button {
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    border-radius: 25px;
}


input[type="text"],
input[type="password"],
input[type="email"],
input[type="button"],
textarea {
    height: 45px;
    width: 100%;
    padding: 10px;
    background-color: #FFF;
    border: 1px solid #FFF;
}

form input,
form textarea {
    height: 50px;
    font-size: 15px;
    padding: 11px 20px;
    background-color: #FFF;
    color: #000 !important;
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

user agent stylesheet input[type="password" i] {
    -webkit-text-security: disc !important;
}

user agent stylesheet input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 0px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

.login {
    background-color: #001865;
    padding: 30px;
    word-break: break-word;
}

user agent stylesheet html {
    color: -internal-root-color;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
    #login {
        width: 360px;
        margin-top: 125px;
    }

    header .logo {
        margin: 30px 0 30px 30px;
    }

    h4,
    p,
    .privacidad {
        font-size: 1.2em;
    }

    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="button"],
    textarea {
        height: 50px;
    }
}