<app-header [title]="'DEMO CAJA DE AHORRO'" [subtitle]="'Detalle de Participante'"></app-header>

<div class="container-fluid">
    <div class="table-wrapper">
        <table class="table table-bordered" style="margin:0px auto; font-weight:600;width: 40%">
            <tbody>
                <tr class="tbl-007">
                    <td style="background-color:#001865; color:#FFF"> Clave Participante</td>
                    <td style="background-color:#0098DD22;" class="text-right"> {{ cveemp }} </td>
                </tr>
                <tr class="tbl-007">
                    <td style="background-color:#001865; color:#FFF">Nombre </td>
                    <td style="background-color:#0098DD22; " class="text-right"> Empleado Autocreado </td>
                </tr>


                <tr class="tbl-007">
                    <td style="background-color:#001865; color:#FFF"> Total de Aportaciones</td>
                    <td style="background-color:#FFFFFF" class="text-right num-style"> $ 500.00 </td>
                </tr>

                <tr class="tbl-007">
                    <td style="background-color:#001865; color:#FFF"> SubTotal Aportaciones</td>
                    <td style="background-color:#FFFFFF" class="text-right num-style"> $ 500.00 </td>
                </tr>


                <tr class="tbl-007">
                    <td style="background-color:#001865; color:#FFF"> Intereses Devengados </td>
                    <td style="background-color:#FFFFFF" class="text-right num-style"> $ 0.00</td>
                </tr>




                <tr class="tbl-007">
                    <td style="background-color:#001865; color:#FFF"> Baja </td>
                    <td style="background-color:#FFFFFF" class="text-right num-style"> $ 500.00 </td>
                </tr>



                <tr class="tbl-007">
                    <td style="background-color:#001865; color:#FFF"> Saldo en Prestamos </td>



                    <td style="background-color:#FFFFFF" class="text-right num-style"> $ 0.00</td>
                </tr>



                <tr class="tbl-007">
                    <td style="background-color:#001865; color:#FFF"> Saldo Total </td>
                    <td style="background-color:#0098DD22;" class="text-right num-style"> <b> $ 0.00</b> </td>
                </tr>



                <tr class="tbl-007">
                    <td style="background-color:#001865; color:#FFF"> Información Actualizada al </td>
                    <td style="background-color:#FFFFFF" class="text-right num-style"> 30 de noviembre de 2022 </td>
                </tr>
            </tbody>
        </table> <br><br>
    </div>
</div>