<div class="border-right" id="sidebar-wrapper" style="display: block;">
    <div id="modificable">
        <div class="sidebar-heading">
            <img src="/assets/picts/logo.png">
        </div>

        <div class="list-group list-group-flush">
            <ul class="menu-content">
                <li class="title-list">
                    <h3>Listas</h3>
                </li>

                <li>
                    <a [routerLink]="['/inicio']">
                        <font color="#FFFFFF" face="Yu Gothic UI Light">
                            <i class="fa fa-circle"></i> Listar Planes
                        </font>
                    </a>
                </li>

                <li data-toggle="collapse" data-target="#new1" class="collapsed" aria-expanded="false">
                    <a (click)="toggleCollapse()" class="d-flex justify-content-between align-items-center">
                        <span class="text-white font-weight-light">
                            <i class="fa fa-circle mr-2"></i>Movimientos
                        </span>
                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                    </a>
                   
                </li>
                <div #collapseMovimiento class="collapse collapse-bg fade">
                    <p [routerLink]="['/listado-movimientos']" class="text-white mr-collapse">
                        <span class="text-white font-weight-light">
                            <i class="fa fa-chevron-right"></i>
                            <span class="span-ml">Listado de Movimientos</span>
                        </span>
                    </p>

                    <p [routerLink]="['/historial-movimientos']" class="text-white mr-collapse">
                        <span class="text-white font-weight-light">
                            <i class="fa fa-chevron-right"></i> 
                            <span class="span-ml">Historial de Movimientos</span>
                        </span>
                    </p>
                </div>

                <ul class="sub-menu collapse" id="new1">
                    <li id="op31">
                        <a href="ListadoMovimientoS.jsp?cvecom=CA9504">
                            <font color="#FFFFFF" face="Yu Gothic UI Light">Listado de Movimientos</font>
                        </a>
                    </li>

                    <li id="op32">
                        <a href="HistorialMovimientos.prs">
                            <font color="#FFFFFF" face="Yu Gothic UI Light">Historial de Movimientos</font>
                        </a>
                    </li>
                </ul>

                <li data-toggle="collapse" data-target="#new2" class="collapsed">
                    <a (click)="toggleCollapseParticipante()"class="d-flex justify-content-between align-items-center">
                        <span class="text-white font-weight-light">
                            <i class="fa fa-circle mr-2"></i>Participantes
                        </span>
                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                    </a>
                </li>

                <div #collapseParticipante class="collapse collapse-bg fade">
                    <p [routerLink]="['/participantes']" class="text-white mr-collapse">
                        <span class="text-white font-weight-light">
                            <i class="fa fa-chevron-right mr-2"></i>
                            <span class="span-ml">Listado de Participantes</span>
                        </span>
                    </p>
                </div>

                <ul class="sub-menu collapse" id="new2">
                    <li id="op33" class="active collapsed" data-toggle="collapse" data-target="#new1" aria-expanded="false">
                        <a href="ListarParticipantes.prs?pagina=1">
                            <font color="#FFFFFF" face="Yu Gothic UI Light">Listado de Participantes</font>
                        </a>
                    </li>
                </ul>

                <li id="op2" data-toggle="collapse" data-target="#new1" class="collapsed" aria-expanded="false">
                    <a [routerLink]="['/configurar-estado-cuenta']">
                        <font color="#FFFFFF" face="Yu Gothic UI Light"><i class="fa fa-circle"></i> Estados de Cuenta</font>
                    </a>
                </li>

                <li>
                    <a href="RecibosAcceso.rkw?cvecom=CA9504&amp;generacion=si&amp;archivo=CartasdeBienvenida">
                        <font color="#FFFFFF" face="Yu Gothic UI Light"><i class="fa fa-circle"></i> Cartas de Bienvenida</font>
                    </a>
                </li>
            </ul>

            <ul class="menu-content">
                <li class="title-list">
                    <h3>Reportes</h3>
                </li>

                <li id="op1">
                    <a [routerLink]="['/reporte-mensual-empresa']">
                        <font color="#FFFFFF" face="Yu Gothic UI Light"><i class="fa fa-circle"></i> Mensual </font>
                    </a>
                </li>

                <li id="op3">
                    <a [routerLink]="['/reporte-general-listado-participantes']">
                        <font color="#FFFFFF" face="Yu Gothic UI Light"><i class="fa fa-circle"></i> Participantes</font>
                    </a>
                </li>

                <li id="op4">
                    <a [routerLink]="['/solicitud-prestamo']">
                        <font color="#FFFFFF" face="Yu Gothic UI Light"><i class="fa fa-circle"></i> Solicitudes de Préstamos</font>
                    </a>
                </li>

                <li id="op5">
                    <a [routerLink]="['/solicitud-retiro']">
                        <font color="#FFFFFF" face="Yu Gothic UI Light"><i class="fa fa-circle"></i> Solicitudes de Retiros</font>
                    </a>
                </li>

                <li id="op6">
                    <a [routerLink]="['/de-acceso']">
                        <font color="#FFFFFF" face="Yu Gothic UI Light"><i class="fa fa-circle"></i> De Acceso
                        </font>
                    </a> 
                </li>

                <li id="op7">
                    <a [routerLink]="['/configurar-carta-liquidacion']">
                        <font color="#FFFFFF" face="Yu Gothic UI Light"><i class="fa fa-circle"></i> Cartas de Liquidación</font>
                    </a>
                </li>

                <li id="op8">
                    <a [routerLink]="['/listado-prestamos']">
                        <font color="#FFFFFF" face="Yu Gothic UI Light"><i class="fa fa-circle"></i> Préstamos</font>
                    </a>
                </li>

                <li id="op11">
                    <a [routerLink]="['/generar-reporte-dato-empleados']">
                        <font color="#FFFFFF" face="Yu Gothic UI Light"><i class="fa fa-circle"></i> Datos Participantes </font>
                    </a> 
                </li>

                <li id="mostrar" style="display: none;">
                    <a href="Logout.prs">
                        <font color="#FFFFFF" face="Yu Gothic UI Light"><i class="fa fa-circle"></i> Log Out</font>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>