<app-header [title]="'Configuración de Estados de Cuenta'"></app-header>

<div class="contenedor">
    <!-- <form method="post" action="GeneraEstadosCuenta.rkw"> -->
    <form method="post" action="GeneraCartasLiquidacion.rkw">

        <input type="hidden" name="cvecom" value="CA9504">
        <input type="hidden" name="forward" value="estados">


        <b class="description"> Seleccionar Nóminas </b>
        <table>
            <tbody>
                <tr>

                    <td> <input type="checkbox" value="1" name="40" checked=""> <b class="texto"> Razón Social 1, S.A.
                            de C.V. </b> &nbsp;&nbsp;</td>


                    <td> <input type="checkbox" value="1" name="46" checked=""> <b class="texto"> Razón Social 2, S.A.
                            de C.V. </b> &nbsp;&nbsp;</td>


                    <td> <input type="checkbox" value="1" name="49" checked=""> <b class="texto"> Razón Social 3, S.A.
                            de C.V. </b> &nbsp;&nbsp;</td>


                    <td> <input type="checkbox" value="1" name="52" checked=""> <b class="texto"> Razón Social 4, S.A.
                            de C.V. </b> &nbsp;&nbsp;</td>


                    <td> <input type="checkbox" value="1" name="67" checked=""> <b class="texto"> Razón Social 5, S.A.
                            de C.V. </b> &nbsp;&nbsp;</td>
                </tr>
                <tr>

                    <td> <input type="checkbox" value="1" name="CONC" checked=""> <b class="texto"> CONCENTRADORA </b>
                        &nbsp;&nbsp;</td>


                </tr>
            </tbody>
        </table>
        <br>


        <input type="checkbox" value="1" name="A01" checked=""> Aportación Empleado &nbsp;&nbsp;


        <input type="checkbox" value="1" name="A44" checked=""> Aportacion Extraordinaria &nbsp;&nbsp;





        <br>

        <!--table align="center">
            <tr>
                <td> <b> Periodo : </b> </td> 			
                <td> <input type="text" id="fechaInicio" name="fechaInicio"> </td> 
            </tr>
            <tr>
                <td>&nbsp;  </td> 
                <td> <input type="text" id="fechaFin" name="fechaFin"> </td> 
            </tr>
        </table><br-->


        <b> Ordenar Estados de Cuenta por: </b><br>
        <input type="radio" name="orden" value="1" checked=""> Agrupados por Nomina y ordenado por Clave de Participante
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="radio" name="orden" value="0"> Ordenado todo por Clave de Participante
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <br><br>

        <b> No incluir : </b> <br>
        <input type="checkbox" name="rendimientos" value="1"> Rendimientos

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="checkbox" name="intereses" value="1"> Intereses
        <br><br>

        <b> Filtrado por : </b> <br>
        <input type="radio" name="filtro" value="saldos"> Por Saldos &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="radio" name="filtro" value="todos" checked=""> Todos
        <br><br>

        <table align="center">
            <tbody>
                <tr>
                    <td> <b> Mensaje a incluir: </b> </td>
                    <td> <input type="text" name="mensajeId"> </td>
                </tr>
            </tbody>
        </table><br>

        Generación de Estados de Cuenta : <br>
        <!-- 
            <input type="radio" name="generacion" value="no" checked> En L&iacute;nea &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="radio" name="generacion" value="si" > A Archivo : 
    -->
        <input type="hidden" name="generacion" value="si"> A Archivo :

        Nombre Archivo: <input type="text" name="nombreArchivo" value="Estados de Cuenta">
        <br><br>

        <input style="background-color:#0D90D7" type="submit" value="Crear Estados de Cuenta"
            class="button-accept button">

    </form>
</div>