<header>
    <div class="container">
        <a href="https://www.monex.com.mx/" class="logo">
            <img src="/assets/picts/logo.png" alt="MONEX Grupo Financiero">
        </a>
    </div>
</header>