<app-header [title]="'Listado de Solicitudes de Préstamos'"></app-header>

<div class="mt-form">
    <form method="post" action="SolicitudesPrestamos.jsp">
        <table class="tbl-006" align="center">
            <tbody>
                <tr>
                    <td align="center">
                        <input type="hidden" name="cvecom" value="CA9504">

                        <!--	Filtrar por Movimientos: &nbsp; 
                        <SELECT name="movimiento" >
                            <OPTION value=""  > -- Todos -- </OPTION> 
                            <OPTION value="P" > Pr&eacute;stamos </OPTION> 
                            <OPTION value="R" > Retiros </OPTION> 
                            <OPTION value="B" > Bajas </OPTION> 
                            <OPTION value="BP" > Bajas Proy. </OPTION> 
                        </SELECT>			-->
                    </td>
                    <td width="20"> &nbsp; </td>
                    <td align="center">
                        Filtrar fechas posteriores a : &nbsp;
                        <input type="text" name="fecha" value="" id="mydate" gldp-id="mydate" class="gldp-el">
                        <div gldp-el="mydate"
                            style="width: 400px; height: 300px; position: absolute; top: 104.355px; left: 1204.45px; display: none;"
                            class="gldp-default"> <!-- div requerido para nuevo calendario -->
                            <div class="core border monyear"
                                style="width: 58px; height: 38.375px; line-height: 38.375px; border-width: 1px 0px 0px 1px;">
                                <a class="prev-arrow">◄</a>
                            </div>
                            <div class="core border monyear title"
                                style="width: 286px; height: 38.375px; line-height: 38.375px; border-top-width: 1px; margin-left: -1px;">
                                <div><span>Mayo</span><select style="display: none;">
                                        <option value="0">Enero</option>
                                        <option value="1">Febrero</option>
                                        <option value="2">Marzo</option>
                                        <option value="3">Abril</option>
                                        <option value="4" selected="selected">Mayo</option>
                                        <option value="5">Junio</option>
                                        <option value="6">Julio</option>
                                        <option value="7">Agosto</option>
                                        <option value="8">Septiembre</option>
                                        <option value="9">Octubre</option>
                                        <option value="10">Noviembre</option>
                                        <option value="11">Diciembre</option>
                                    </select><span>2023</span><select style="display: none;">
                                        <option value="2018">2018</option>
                                        <option value="2019">2019</option>
                                        <option value="2020">2020</option>
                                        <option value="2021">2021</option>
                                        <option value="2022">2022</option>
                                        <option value="2023" selected="selected">2023</option>
                                        <option value="2024">2024</option>
                                        <option value="2025">2025</option>
                                        <option value="2026">2026</option>
                                        <option value="2027">2027</option>
                                        <option value="2028">2028</option>
                                    </select></div>
                            </div>
                            <div class="core border monyear"
                                style="width: 58px; height: 38.375px; line-height: 38.375px; margin-left: -1px; border-width: 1px 1px 0px 0px;">
                                <a class="next-arrow">►</a>
                            </div>
                            <div class="core border dow"
                                style="width: 58px; height: 38.375px; line-height: 38.375px; border-width: 1px 0px 1px 1px; margin-left: 0px; margin-top: 0px; z-index: 1000;">
                                Dom</div>
                            <div class="core border dow"
                                style="width: 58px; height: 38.375px; line-height: 38.375px; border-width: 1px 0px; margin-left: -1px; margin-top: 0px; z-index: 1001;">
                                Lun</div>
                            <div class="core border dow"
                                style="width: 58px; height: 38.375px; line-height: 38.375px; border-width: 1px 0px; margin-left: -1px; margin-top: 0px; z-index: 1002;">
                                Mar</div>
                            <div class="core border dow"
                                style="width: 58px; height: 38.375px; line-height: 38.375px; border-width: 1px 0px; margin-left: -1px; margin-top: 0px; z-index: 1003;">
                                Mie</div>
                            <div class="core border dow"
                                style="width: 58px; height: 38.375px; line-height: 38.375px; border-width: 1px 0px; margin-left: -1px; margin-top: 0px; z-index: 1004;">
                                Jue</div>
                            <div class="core border dow"
                                style="width: 58px; height: 38.375px; line-height: 38.375px; border-width: 1px 0px; margin-left: -1px; margin-top: 0px; z-index: 1005;">
                                Vie</div>
                            <div class="core border dow"
                                style="width: 58px; height: 38.375px; line-height: 38.375px; border-width: 1px 1px 1px 0px; margin-left: -1px; margin-top: 0px; z-index: 1006;">
                                Sab</div>
                            <div class="core border dom outday"
                                style="width: 58px; height: 38.375px; line-height: 38.375px; border-width: 1px; margin-left: 0px; margin-top: -1px; z-index: 1007;">
                                30</div>
                            <div class="core border lun"
                                style="width: 58px; height: 38.375px; line-height: 38.375px; border-width: 1px; margin-left: -1px; margin-top: -1px; z-index: 1008;">
                                1</div>
                            <div class="core border mar"
                                style="width: 58px; height: 38.375px; line-height: 38.375px; border-width: 1px; margin-left: -1px; margin-top: -1px; z-index: 1009;">
                                2</div>
                            <div class="core border mie"
                                style="width: 58px; height: 38.375px; line-height: 38.375px; border-width: 1px; margin-left: -1px; margin-top: -1px; z-index: 1010;">
                                3</div>
                            <div class="core border selected"
                                style="width: 58px; height: 38.375px; line-height: 38.375px; border-width: 1px; margin-left: -1px; margin-top: -1px; z-index: 1112;">
                                4</div>
                            <div class="core border vie"
                                style="width: 58px; height: 38.375px; line-height: 38.375px; border-width: 1px; margin-left: -1px; margin-top: -1px; z-index: 1012;">
                                5</div>
                            <div class="core border sab"
                                style="width: 58px; height: 38.375px; line-height: 38.375px; border-width: 1px; margin-left: -1px; margin-top: -1px; z-index: 1013;">
                                6</div>
                            <div class="core border dom"
                                style="width: 58px; height: 38.375px; line-height: 38.375px; border-width: 1px; margin-left: 0px; margin-top: -1px; z-index: 1014;">
                                7</div>
                            <div class="core border lun"
                                style="width: 58px; height: 38.375px; line-height: 38.375px; border-width: 1px; margin-left: -1px; margin-top: -1px; z-index: 1015;">
                                8</div>
                            <div class="core border mar"
                                style="width: 58px; height: 38.375px; line-height: 38.375px; border-width: 1px; margin-left: -1px; margin-top: -1px; z-index: 1016;">
                                9</div>
                            <div class="core border mie"
                                style="width: 58px; height: 38.375px; line-height: 38.375px; border-width: 1px; margin-left: -1px; margin-top: -1px; z-index: 1017;">
                                10</div>
                            <div class="core border jue"
                                style="width: 58px; height: 38.375px; line-height: 38.375px; border-width: 1px; margin-left: -1px; margin-top: -1px; z-index: 1018;">
                                11</div>
                            <div class="core border vie"
                                style="width: 58px; height: 38.375px; line-height: 38.375px; border-width: 1px; margin-left: -1px; margin-top: -1px; z-index: 1019;">
                                12</div>
                            <div class="core border sab"
                                style="width: 58px; height: 38.375px; line-height: 38.375px; border-width: 1px; margin-left: -1px; margin-top: -1px; z-index: 1020;">
                                13</div>
                            <div class="core border dom"
                                style="width: 58px; height: 38.375px; line-height: 38.375px; border-width: 1px; margin-left: 0px; margin-top: -1px; z-index: 1021;">
                                14</div>
                            <div class="core border lun"
                                style="width: 58px; height: 38.375px; line-height: 38.375px; border-width: 1px; margin-left: -1px; margin-top: -1px; z-index: 1022;">
                                15</div>
                            <div class="core border mar"
                                style="width: 58px; height: 38.375px; line-height: 38.375px; border-width: 1px; margin-left: -1px; margin-top: -1px; z-index: 1023;">
                                16</div>
                            <div class="core border mie"
                                style="width: 58px; height: 38.375px; line-height: 38.375px; border-width: 1px; margin-left: -1px; margin-top: -1px; z-index: 1024;">
                                17</div>
                            <div class="core border jue"
                                style="width: 58px; height: 38.375px; line-height: 38.375px; border-width: 1px; margin-left: -1px; margin-top: -1px; z-index: 1025;">
                                18</div>
                            <div class="core border vie"
                                style="width: 58px; height: 38.375px; line-height: 38.375px; border-width: 1px; margin-left: -1px; margin-top: -1px; z-index: 1026;">
                                19</div>
                            <div class="core border sab"
                                style="width: 58px; height: 38.375px; line-height: 38.375px; border-width: 1px; margin-left: -1px; margin-top: -1px; z-index: 1027;">
                                20</div>
                            <div class="core border dom"
                                style="width: 58px; height: 38.375px; line-height: 38.375px; border-width: 1px; margin-left: 0px; margin-top: -1px; z-index: 1028;">
                                21</div>
                            <div class="core border lun"
                                style="width: 58px; height: 38.375px; line-height: 38.375px; border-width: 1px; margin-left: -1px; margin-top: -1px; z-index: 1029;">
                                22</div>
                            <div class="core border mar"
                                style="width: 58px; height: 38.375px; line-height: 38.375px; border-width: 1px; margin-left: -1px; margin-top: -1px; z-index: 1030;">
                                23</div>
                            <div class="core border mie"
                                style="width: 58px; height: 38.375px; line-height: 38.375px; border-width: 1px; margin-left: -1px; margin-top: -1px; z-index: 1031;">
                                24</div>
                            <div class="core border jue"
                                style="width: 58px; height: 38.375px; line-height: 38.375px; border-width: 1px; margin-left: -1px; margin-top: -1px; z-index: 1032;">
                                25</div>
                            <div class="core border vie"
                                style="width: 58px; height: 38.375px; line-height: 38.375px; border-width: 1px; margin-left: -1px; margin-top: -1px; z-index: 1033;">
                                26</div>
                            <div class="core border sab"
                                style="width: 58px; height: 38.375px; line-height: 38.375px; border-width: 1px; margin-left: -1px; margin-top: -1px; z-index: 1034;">
                                27</div>
                            <div class="core border dom"
                                style="width: 58px; height: 38.375px; line-height: 38.375px; border-width: 1px; margin-left: 0px; margin-top: -1px; z-index: 1035;">
                                28</div>
                            <div class="core border lun"
                                style="width: 58px; height: 38.375px; line-height: 38.375px; border-width: 1px; margin-left: -1px; margin-top: -1px; z-index: 1036;">
                                29</div>
                            <div class="core border mar"
                                style="width: 58px; height: 38.375px; line-height: 38.375px; border-width: 1px; margin-left: -1px; margin-top: -1px; z-index: 1037;">
                                30</div>
                            <div class="core border mie"
                                style="width: 58px; height: 38.375px; line-height: 38.375px; border-width: 1px; margin-left: -1px; margin-top: -1px; z-index: 1038;">
                                31</div>
                            <div class="core border jue outday"
                                style="width: 58px; height: 38.375px; line-height: 38.375px; border-width: 1px; margin-left: -1px; margin-top: -1px; z-index: 1039;">
                                1</div>
                            <div class="core border vie outday"
                                style="width: 58px; height: 38.375px; line-height: 38.375px; border-width: 1px; margin-left: -1px; margin-top: -1px; z-index: 1040;">
                                2</div>
                            <div class="core border sab outday"
                                style="width: 58px; height: 38.375px; line-height: 38.375px; border-width: 1px; margin-left: -1px; margin-top: -1px; z-index: 1041;">
                                3</div>
                            <div class="core border dom outday"
                                style="width: 58px; height: 38.375px; line-height: 38.375px; border-width: 1px; margin-left: 0px; margin-top: -1px; z-index: 1042;">
                                4</div>
                            <div class="core border lun outday"
                                style="width: 58px; height: 38.375px; line-height: 38.375px; border-width: 1px; margin-left: -1px; margin-top: -1px; z-index: 1043;">
                                5</div>
                            <div class="core border mar outday"
                                style="width: 58px; height: 38.375px; line-height: 38.375px; border-width: 1px; margin-left: -1px; margin-top: -1px; z-index: 1044;">
                                6</div>
                            <div class="core border mie outday"
                                style="width: 58px; height: 38.375px; line-height: 38.375px; border-width: 1px; margin-left: -1px; margin-top: -1px; z-index: 1045;">
                                7</div>
                            <div class="core border jue outday"
                                style="width: 58px; height: 38.375px; line-height: 38.375px; border-width: 1px; margin-left: -1px; margin-top: -1px; z-index: 1046;">
                                8</div>
                            <div class="core border vie outday"
                                style="width: 58px; height: 38.375px; line-height: 38.375px; border-width: 1px; margin-left: -1px; margin-top: -1px; z-index: 1047;">
                                9</div>
                            <div class="core border sab outday"
                                style="width: 58px; height: 38.375px; line-height: 38.375px; border-width: 1px; margin-left: -1px; margin-top: -1px; z-index: 1048;">
                                10</div>
                        </div>
                    </td>
                    <td width="20"> &nbsp; </td>
                    <td align="center">
                        <input type="submit" value="Mostrar" class="button-accept button"
                            style="background-color:#009EFF">
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>

<div class="container-fluid">
    <div class="table-wrapper">
        <br><br>
        <table class="table table-bordered" style="margin:0px auto; font-weight:600;width: 200%">
            <tbody>
                <tr class="sticky" style="background-color:#001865; color:#FFF;text-align:center">
                    <th> Num </th>
                    <th> Folio </th>
                    <th> Fecha Solic </th>
                    <th> Fecha Liberación </th>
                    <th> Solicitante </th>
                    <th> ID Nómina </th>
                    <th> Participante </th>
                    <th> Nombre </th>
                    <th> CLABE </th>
                    <th> Tipo </th>
                    <th> Monto </th>
                    <th> Plazo </th>
                    <th> Status </th>
                    <th> Cambiar Status </th>
                </tr>

                <tr class="tbl-007">
                    <td align="center" class="num-style"> 1 </td>
                    <td align="center">CA9504_P_1130 </td>
                    <td align="center" class="num-style"> 2023-05-03 12:35 </td>
                    <td align="center" class="num-style"> 2023-05-03 12:38 </td>
                    <td align="center"> 1 ~ DEMOS </td>
                    <td align="center"> 46</td>
                    <td align="center" class="num-style"> 350392 </td>
                    <td align="center"> Nombre Empleado 350392 </td>
                    <td align="center" class="num-style"> </td>
                    <td align="center">
                        Préstamo &nbsp;
                    </td>
                    <td align="center" class="num-style"> $ 33,000.00 </td>
                    <td align="center" class="num-style"> 6 </td>
                    <td align="center">
                        Atendido &nbsp;
                    </td>
                    <td>

                    </td>
                </tr>

                <tr>
                    <td align="center" class="num-style"> 2 </td>
                    <td align="center">CA9504_P_1129 </td>
                    <td align="center" class="num-style"> 2023-04-21 12:30 </td>
                    <td align="center" class="num-style"> 2023-04-21 12:31 </td>
                    <td align="center"> 1 ~ DEMOS </td>
                    <td align="center"> 52</td>
                    <td align="center" class="num-style"> 40 </td>
                    <td align="center"> Nombre Empleado 40 </td>
                    <td align="center" class="num-style"> </td>
                    <td align="center">
                        Préstamo &nbsp;
                    </td>
                    <td align="center" class="num-style"> $ 28,000.00 </td>
                    <td align="center" class="num-style"> 7 </td>
                    <td align="center">
                        Rechazado &nbsp;
                    </td>
                    <td>

                    </td>
                </tr>

                <tr class="tbl-007">
                    <td align="center" class="num-style"> 3 </td>
                    <td align="center">CA9504_P_1128 </td>
                    <td align="center" class="num-style"> 2023-04-20 16:58 </td>
                    <td align="center" class="num-style"> 2023-04-20 05:01 </td>
                    <td align="center"> 1 ~ DEMOS </td>
                    <td align="center"> 52</td>
                    <td align="center" class="num-style"> 19 </td>
                    <td align="center"> Nombre Empleado 19 </td>
                    <td align="center" class="num-style"> </td>
                    <td align="center">
                        Préstamo &nbsp;
                    </td>
                    <td align="center" class="num-style"> $ 50,000.00 </td>
                    <td align="center" class="num-style"> 7 </td>
                    <td align="center">
                        Atendido &nbsp;
                    </td>
                    <td>

                    </td>
                </tr>

                <tr>
                    <td align="center" class="num-style"> 4 </td>
                    <td align="center">CA9504_P_1127 </td>
                    <td align="center" class="num-style"> 2023-04-20 10:40 </td>
                    <td align="center" class="num-style"> </td>
                    <td align="center"> 1 ~ CASH_08 </td>
                    <td align="center"> 49</td>
                    <td align="center" class="num-style"> 300093 </td>
                    <td align="center"> Nombre Empleado 300093 </td>
                    <td align="center" class="num-style"> </td>
                    <td align="center">
                        Préstamo &nbsp;
                    </td>
                    <td align="center" class="num-style"> $ 20,000.00 </td>
                    <td align="center" class="num-style"> 7 </td>
                    <td align="center">
                        Solicitado &nbsp;
                    </td>
                    <td>

                        <form action="ActualizaStatusSolicitudIncidencia.rkw" method="post">
                            <input type="hidden" name="folio" value="CA9504_P_1127">
                            <input type="hidden" name="cvecom" value="CA9504">
                            <input type="hidden" name="link" value="SolicitudesPrestamos.jsp?cvecom=CA9504">
                            <select name="status">
                                <option value="R"> Rechazado </option>
                                <option value="A"> Atendido </option>
                            </select> &nbsp;
                            <input type="submit" value="Cambiar Status" class="button-accept button"
                                style="background-color:#009EFF">
                        </form>
                    </td>
                </tr>

                <tr class="tbl-007">
                    <td align="center" class="num-style"> 5 </td>
                    <td align="center">CA9504_P_1124 </td>
                    <td align="center" class="num-style"> 2023-04-06 11:56 </td>
                    <td align="center" class="num-style"> 2023-04-20 10:48 </td>
                    <td align="center"> 2 ~ CA950446350292 </td>
                    <td align="center"> 46</td>
                    <td align="center" class="num-style"> 350292 </td>
                    <td align="center"> Nombre Empleado 350292 </td>
                    <td align="center" class="num-style"> </td>
                    <td align="center">
                        Préstamo &nbsp;
                    </td>
                    <td align="center" class="num-style"> $ 20,000.00 </td>
                    <td align="center" class="num-style"> 8 </td>
                    <td align="center">
                        Rechazado &nbsp;
                    </td>
                    <td>

                    </td>
                </tr>

                <tr>
                    <td align="center" class="num-style"> 6 </td>
                    <td align="center">CA9504_P_1122 </td>
                    <td align="center" class="num-style"> 2023-03-30 12:27 </td>
                    <td align="center" class="num-style"> </td>
                    <td align="center"> 1 ~ CASH_12 </td>
                    <td align="center"> 40</td>
                    <td align="center" class="num-style"> 350080 </td>
                    <td align="center"> Nombre Empleado 350080 </td>
                    <td align="center" class="num-style"> </td>
                    <td align="center">
                        Préstamo &nbsp;
                    </td>
                    <td align="center" class="num-style"> $ 10,000.00 </td>
                    <td align="center" class="num-style"> 9 </td>
                    <td align="center">
                        Solicitado &nbsp;
                    </td>
                    <td>

                        <form action="ActualizaStatusSolicitudIncidencia.rkw" method="post">
                            <input type="hidden" name="folio" value="CA9504_P_1122">
                            <input type="hidden" name="cvecom" value="CA9504">
                            <input type="hidden" name="link" value="SolicitudesPrestamos.jsp?cvecom=CA9504">
                            <select name="status">
                                <option value="R"> Rechazado </option>
                                <option value="A"> Atendido </option>
                            </select> &nbsp;
                            <input type="submit" value="Cambiar Status" class="button-accept button"
                                style="background-color:#009EFF">
                        </form>
                    </td>
                </tr>

                <tr class="tbl-007">
                    <td align="center" class="num-style"> 7 </td>
                    <td align="center">CA9504_P_1121 </td>
                    <td align="center" class="num-style"> 2023-03-30 11:42 </td>
                    <td align="center" class="num-style"> 2023-03-30 11:44 </td>
                    <td align="center"> 1 ~ DEMOS </td>
                    <td align="center"> 49</td>
                    <td align="center" class="num-style"> 300010 </td>
                    <td align="center"> Nombre Empleado 300010 </td>
                    <td align="center" class="num-style"> </td>
                    <td align="center">
                        Préstamo &nbsp;
                    </td>
                    <td align="center" class="num-style"> $ 15,000.00 </td>
                    <td align="center" class="num-style"> 9 </td>
                    <td align="center">
                        Atendido &nbsp;
                    </td>
                    <td>

                    </td>
                </tr>

                <tr>
                    <td align="center" class="num-style"> 8 </td>
                    <td align="center">CA9504_P_1120 </td>
                    <td align="center" class="num-style"> 2023-03-29 16:32 </td>
                    <td align="center" class="num-style"> 2023-03-29 04:35 </td>
                    <td align="center"> 1 ~ DEMOS </td>
                    <td align="center"> 49</td>
                    <td align="center" class="num-style"> 300073 </td>
                    <td align="center"> Nombre Empleado 300073 </td>
                    <td align="center" class="num-style"> </td>
                    <td align="center">
                        Préstamo &nbsp;
                    </td>
                    <td align="center" class="num-style"> $ 2,500.00 </td>
                    <td align="center" class="num-style"> 9 </td>
                    <td align="center">
                        Rechazado &nbsp;
                    </td>
                    <td>

                    </td>
                </tr>

                <tr class="tbl-007">
                    <td align="center" class="num-style"> 9 </td>
                    <td align="center">CA9504_P_1118 </td>
                    <td align="center" class="num-style"> 2023-03-07 13:50 </td>
                    <td align="center" class="num-style"> 2023-03-07 01:52 </td>
                    <td align="center"> 1 ~ DEMOS </td>
                    <td align="center"> 46</td>
                    <td align="center" class="num-style"> 350250 </td>
                    <td align="center"> Nombre Empleado 350250 </td>
                    <td align="center" class="num-style"> </td>
                    <td align="center">
                        Préstamo &nbsp;
                    </td>
                    <td align="center" class="num-style"> $ 22,000.00 </td>
                    <td align="center" class="num-style"> 10 </td>
                    <td align="center">
                        Rechazado &nbsp;
                    </td>
                    <td>

                    </td>
                </tr>

                <tr>
                    <td align="center" class="num-style"> 10 </td>
                    <td align="center">CA9504_P_1117 </td>
                    <td align="center" class="num-style"> 2023-02-28 13:14 </td>
                    <td align="center" class="num-style"> 2023-02-28 01:15 </td>
                    <td align="center"> 1 ~ DEMOS </td>
                    <td align="center"> 52</td>
                    <td align="center" class="num-style"> 23 </td>
                    <td align="center"> Nombre Empleado 23 </td>
                    <td align="center" class="num-style"> </td>
                    <td align="center">
                        Préstamo &nbsp;
                    </td>
                    <td align="center" class="num-style"> $ 80,000.00 </td>
                    <td align="center" class="num-style"> 5 </td>
                    <td align="center">
                        Atendido &nbsp;
                    </td>
                    <td>

                    </td>
                </tr>

                <tr class="tbl-007">
                    <td align="center" class="num-style"> 11 </td>
                    <td align="center">CA9504_P_1115 </td>
                    <td align="center" class="num-style"> 2023-02-16 17:20 </td>
                    <td align="center" class="num-style"> 2023-04-18 04:02 </td>
                    <td align="center"> 1 ~ CASH_08 </td>
                    <td align="center"> 46</td>
                    <td align="center" class="num-style"> 350320 </td>
                    <td align="center"> Nombre Empleado 350320 </td>
                    <td align="center" class="num-style"> </td>
                    <td align="center">
                        Préstamo &nbsp;
                    </td>
                    <td align="center" class="num-style"> $ 5,000.00 </td>
                    <td align="center" class="num-style"> 11 </td>
                    <td align="center">
                        Atendido &nbsp;
                    </td>
                    <td>

                    </td>
                </tr>

                <tr>
                    <td align="center" class="num-style"> 12 </td>
                    <td align="center">CA9504_P_1114 </td>
                    <td align="center" class="num-style"> 2023-02-09 13:47 </td>
                    <td align="center" class="num-style"> 2023-02-09 01:49 </td>
                    <td align="center"> 1 ~ DEMOS </td>
                    <td align="center"> 52</td>
                    <td align="center" class="num-style"> 15 </td>
                    <td align="center"> Nombre Empleado 15 </td>
                    <td align="center" class="num-style"> </td>
                    <td align="center">
                        Préstamo &nbsp;
                    </td>
                    <td align="center" class="num-style"> $ 11,000.00 </td>
                    <td align="center" class="num-style"> 10 </td>
                    <td align="center">
                        Rechazado &nbsp;
                    </td>
                    <td>

                    </td>
                </tr>

                <tr class="tbl-007">
                    <td align="center" class="num-style"> 13 </td>
                    <td align="center">CA9504_P_1113 </td>
                    <td align="center" class="num-style"> 2023-02-09 12:16 </td>
                    <td align="center" class="num-style"> 2023-02-09 12:18 </td>
                    <td align="center"> 1 ~ DEMOS </td>
                    <td align="center"> 49</td>
                    <td align="center" class="num-style"> 300003 </td>
                    <td align="center"> Nombre Empleado 300003 </td>
                    <td align="center" class="num-style"> </td>
                    <td align="center">
                        Préstamo &nbsp;
                    </td>
                    <td align="center" class="num-style"> $ 8,000.00 </td>
                    <td align="center" class="num-style"> 12 </td>
                    <td align="center">
                        Atendido &nbsp;
                    </td>
                    <td>

                    </td>
                </tr>

                <tr>
                    <td align="center" class="num-style"> 14 </td>
                    <td align="center">CA9504_P_1112 </td>
                    <td align="center" class="num-style"> 2023-01-30 12:53 </td>
                    <td align="center" class="num-style"> 2023-02-13 10:21 </td>
                    <td align="center"> 1 ~ CASH_08 </td>
                    <td align="center"> 67</td>
                    <td align="center" class="num-style"> 670009 </td>
                    <td align="center"> Nombre Empleado 670009 </td>
                    <td align="center" class="num-style"> </td>
                    <td align="center">
                        Préstamo &nbsp;
                    </td>
                    <td align="center" class="num-style"> $ 10,000.00 </td>
                    <td align="center" class="num-style"> 13 </td>
                    <td align="center">
                        Atendido &nbsp;
                    </td>
                    <td>

                    </td>
                </tr>

                <tr class="tbl-007">
                    <td align="center" class="num-style"> 15 </td>
                    <td align="center">CA9504_P_32 </td>
                    <td align="center" class="num-style"> 2023-01-20 11:45 </td>
                    <td align="center" class="num-style"> </td>
                    <td align="center"> 1 ~ CASH_08 </td>
                    <td align="center"> 46</td>
                    <td align="center" class="num-style"> 350198 </td>
                    <td align="center"> Nombre Empleado 350198 </td>
                    <td align="center" class="num-style"> </td>
                    <td align="center">
                        Préstamo &nbsp;
                    </td>
                    <td align="center" class="num-style"> $ 50,000.00 </td>
                    <td align="center" class="num-style"> 13 </td>
                    <td align="center">
                        Solicitado &nbsp;
                    </td>
                    <td>

                        <form action="ActualizaStatusSolicitudIncidencia.rkw" method="post">
                            <input type="hidden" name="folio" value="CA9504_P_32">
                            <input type="hidden" name="cvecom" value="CA9504">
                            <input type="hidden" name="link" value="SolicitudesPrestamos.jsp?cvecom=CA9504">
                            <select name="status">
                                <option value="R"> Rechazado </option>
                                <option value="A"> Atendido </option>
                            </select> &nbsp;
                            <input type="submit" value="Cambiar Status" class="button-accept button"
                                style="background-color:#009EFF">
                        </form>
                    </td>
                </tr>

                <tr>
                    <td align="center" class="num-style"> 16 </td>
                    <td align="center">CA9504_P_31 </td>
                    <td align="center" class="num-style"> 2023-01-17 11:50 </td>
                    <td align="center" class="num-style"> </td>
                    <td align="center"> 1 ~ CASH_08 </td>
                    <td align="center"> 49</td>
                    <td align="center" class="num-style"> 300083 </td>
                    <td align="center"> Nombre Empleado 300083 </td>
                    <td align="center" class="num-style"> </td>
                    <td align="center">
                        Préstamo &nbsp;
                    </td>
                    <td align="center" class="num-style"> $ 15,000.00 </td>
                    <td align="center" class="num-style"> 13 </td>
                    <td align="center">
                        Solicitado &nbsp;
                    </td>
                    <td>

                        <form action="ActualizaStatusSolicitudIncidencia.rkw" method="post">
                            <input type="hidden" name="folio" value="CA9504_P_31">
                            <input type="hidden" name="cvecom" value="CA9504">
                            <input type="hidden" name="link" value="SolicitudesPrestamos.jsp?cvecom=CA9504">
                            <select name="status">
                                <option value="R"> Rechazado </option>
                                <option value="A"> Atendido </option>
                            </select> &nbsp;
                            <input type="submit" value="Cambiar Status" class="button-accept button"
                                style="background-color:#009EFF">
                        </form>
                    </td>
                </tr>

                <tr class="tbl-007">
                    <td align="center" class="num-style"> 17 </td>
                    <td align="center">CA9504_P_30 </td>
                    <td align="center" class="num-style"> 2023-01-03 17:10 </td>
                    <td align="center" class="num-style"> </td>
                    <td align="center"> 1 ~ CASH_17 </td>
                    <td align="center"> 46</td>
                    <td align="center" class="num-style"> 350353 </td>
                    <td align="center"> Nombre Empleado 350353 </td>
                    <td align="center" class="num-style"> </td>
                    <td align="center">
                        Préstamo &nbsp;
                    </td>
                    <td align="center" class="num-style"> $ 22,000.00 </td>
                    <td align="center" class="num-style"> 10 </td>
                    <td align="center">
                        Solicitado &nbsp;
                    </td>
                    <td>

                        <form action="ActualizaStatusSolicitudIncidencia.rkw" method="post">
                            <input type="hidden" name="folio" value="CA9504_P_30">
                            <input type="hidden" name="cvecom" value="CA9504">
                            <input type="hidden" name="link" value="SolicitudesPrestamos.jsp?cvecom=CA9504">
                            <select name="status">
                                <option value="R"> Rechazado </option>
                                <option value="A"> Atendido </option>
                            </select> &nbsp;
                            <input type="submit" value="Cambiar Status" class="button-accept button"
                                style="background-color:#009EFF">
                        </form>
                    </td>
                </tr>

                <tr>
                    <td align="center" class="num-style"> 18 </td>
                    <td align="center">CA9504_P_29 </td>
                    <td align="center" class="num-style"> 2022-12-29 13:45 </td>
                    <td align="center" class="num-style"> 2022-12-29 01:50 </td>
                    <td align="center"> 1 ~ 20201130 </td>
                    <td align="center"> 52</td>
                    <td align="center" class="num-style"> 11 </td>
                    <td align="center"> Nombre Empleado 11 </td>
                    <td align="center" class="num-style"> </td>
                    <td align="center">
                        Préstamo &nbsp;
                    </td>
                    <td align="center" class="num-style"> $ 50,000.00 </td>
                    <td align="center" class="num-style"> 15 </td>
                    <td align="center">
                        Rechazado &nbsp;
                    </td>
                    <td>

                    </td>
                </tr>

                <tr class="tbl-007">
                    <td align="center" class="num-style"> 19 </td>
                    <td align="center">CA9504_P_28 </td>
                    <td align="center" class="num-style"> 2022-12-23 10:31 </td>
                    <td align="center" class="num-style"> 2022-12-29 01:51 </td>
                    <td align="center"> 1 ~ CASH_08 </td>
                    <td align="center"> 52</td>
                    <td align="center" class="num-style"> 13 </td>
                    <td align="center"> Nombre Empleado 13 </td>
                    <td align="center" class="num-style"> </td>
                    <td align="center">
                        Préstamo &nbsp;
                    </td>
                    <td align="center" class="num-style"> $ 50,000.00 </td>
                    <td align="center" class="num-style"> 10 </td>
                    <td align="center">
                        Atendido &nbsp;
                    </td>
                    <td>

                    </td>
                </tr>

                <tr>
                    <td align="center" class="num-style"> 20 </td>
                    <td align="center">CA9504_P_27 </td>
                    <td align="center" class="num-style"> 2022-12-22 12:26 </td>
                    <td align="center" class="num-style"> </td>
                    <td align="center"> 1 ~ CASH_27 </td>
                    <td align="center"> 52</td>
                    <td align="center" class="num-style"> 2 </td>
                    <td align="center"> Nombre Empleado 2 </td>
                    <td align="center" class="num-style"> </td>
                    <td align="center">
                        Préstamo &nbsp;
                    </td>
                    <td align="center" class="num-style"> $ 50,000.00 </td>
                    <td align="center" class="num-style"> 15 </td>
                    <td align="center">
                        Solicitado &nbsp;
                    </td>
                    <td>

                        <form action="ActualizaStatusSolicitudIncidencia.rkw" method="post">
                            <input type="hidden" name="folio" value="CA9504_P_27">
                            <input type="hidden" name="cvecom" value="CA9504">
                            <input type="hidden" name="link" value="SolicitudesPrestamos.jsp?cvecom=CA9504">
                            <select name="status">
                                <option value="R"> Rechazado </option>
                                <option value="A"> Atendido </option>
                            </select> &nbsp;
                            <input type="submit" value="Cambiar Status" class="button-accept button"
                                style="background-color:#009EFF">
                        </form>
                    </td>
                </tr>

                <tr class="tbl-007">
                    <td align="center" class="num-style"> 21 </td>
                    <td align="center">CA9504_P_26 </td>
                    <td align="center" class="num-style"> 2022-12-16 11:21 </td>
                    <td align="center" class="num-style"> </td>
                    <td align="center"> 1 ~ CASH_08 </td>
                    <td align="center"> 40</td>
                    <td align="center" class="num-style"> 402843 </td>
                    <td align="center"> Nombre Empleado 402843 </td>
                    <td align="center" class="num-style"> </td>
                    <td align="center">
                        Préstamo &nbsp;
                    </td>
                    <td align="center" class="num-style"> $ 10,000.00 </td>
                    <td align="center" class="num-style"> 15 </td>
                    <td align="center">
                        Solicitado &nbsp;
                    </td>
                    <td>

                        <form action="ActualizaStatusSolicitudIncidencia.rkw" method="post">
                            <input type="hidden" name="folio" value="CA9504_P_26">
                            <input type="hidden" name="cvecom" value="CA9504">
                            <input type="hidden" name="link" value="SolicitudesPrestamos.jsp?cvecom=CA9504">
                            <select name="status">
                                <option value="R"> Rechazado </option>
                                <option value="A"> Atendido </option>
                            </select> &nbsp;
                            <input type="submit" value="Cambiar Status" class="button-accept button"
                                style="background-color:#009EFF">
                        </form>
                    </td>
                </tr>

                <tr>
                    <td align="center" class="num-style"> 22 </td>
                    <td align="center">CA9504_P_25 </td>
                    <td align="center" class="num-style"> 2022-12-06 14:10 </td>
                    <td align="center" class="num-style"> 2022-12-06 02:11 </td>
                    <td align="center"> 1 ~ DEMOS </td>
                    <td align="center"> 49</td>
                    <td align="center" class="num-style"> 300030 </td>
                    <td align="center"> Nombre Empleado 300030 </td>
                    <td align="center" class="num-style"> </td>
                    <td align="center">
                        Préstamo &nbsp;
                    </td>
                    <td align="center" class="num-style"> $ 10,000.00 </td>
                    <td align="center" class="num-style"> 2 </td>
                    <td align="center">
                        Rechazado &nbsp;
                    </td>
                    <td>

                    </td>
                </tr>

                <tr class="tbl-007">
                    <td align="center" class="num-style"> 23 </td>
                    <td align="center">CA9504_P_24 </td>
                    <td align="center" class="num-style"> 2022-12-02 13:45 </td>
                    <td align="center" class="num-style"> </td>
                    <td align="center"> 1 ~ CASH_08 </td>
                    <td align="center"> 49</td>
                    <td align="center" class="num-style"> 300046 </td>
                    <td align="center"> Nombre Empleado 300046 </td>
                    <td align="center" class="num-style"> </td>
                    <td align="center">
                        Préstamo &nbsp;
                    </td>
                    <td align="center" class="num-style"> $ 15,000.00 </td>
                    <td align="center" class="num-style"> 2 </td>
                    <td align="center">
                        Solicitado &nbsp;
                    </td>
                    <td>

                        <form action="ActualizaStatusSolicitudIncidencia.rkw" method="post">
                            <input type="hidden" name="folio" value="CA9504_P_24">
                            <input type="hidden" name="cvecom" value="CA9504">
                            <input type="hidden" name="link" value="SolicitudesPrestamos.jsp?cvecom=CA9504">
                            <select name="status">
                                <option value="R"> Rechazado </option>
                                <option value="A"> Atendido </option>
                            </select> &nbsp;
                            <input type="submit" value="Cambiar Status" class="button-accept button"
                                style="background-color:#009EFF">
                        </form>
                    </td>
                </tr>

                <tr>
                    <td align="center" class="num-style"> 24 </td>
                    <td align="center">CA9504_P_23 </td>
                    <td align="center" class="num-style"> 2022-11-30 23:05 </td>
                    <td align="center" class="num-style"> </td>
                    <td align="center"> 1 ~ CASH_01 </td>
                    <td align="center"> 52</td>
                    <td align="center" class="num-style"> 17 </td>
                    <td align="center"> Nombre Empleado 17 </td>
                    <td align="center" class="num-style"> </td>
                    <td align="center">
                        Préstamo &nbsp;
                    </td>
                    <td align="center" class="num-style"> $ 10,000.00 </td>
                    <td align="center" class="num-style"> 2 </td>
                    <td align="center">
                        Solicitado &nbsp;
                    </td>
                    <td>

                        <form action="ActualizaStatusSolicitudIncidencia.rkw" method="post">
                            <input type="hidden" name="folio" value="CA9504_P_23">
                            <input type="hidden" name="cvecom" value="CA9504">
                            <input type="hidden" name="link" value="SolicitudesPrestamos.jsp?cvecom=CA9504">
                            <select name="status">
                                <option value="R"> Rechazado </option>
                                <option value="A"> Atendido </option>
                            </select> &nbsp;
                            <input type="submit" value="Cambiar Status" class="button-accept button"
                                style="background-color:#009EFF">
                        </form>
                    </td>
                </tr>

                <tr class="tbl-007">
                    <td align="center" class="num-style"> 25 </td>
                    <td align="center">CA9504_P_22 </td>
                    <td align="center" class="num-style"> 2022-11-25 10:03 </td>
                    <td align="center" class="num-style"> 2022-11-25 10:05 </td>
                    <td align="center"> 1 ~ DEMOS </td>
                    <td align="center"> 40</td>
                    <td align="center" class="num-style"> 11 </td>
                    <td align="center"> Empleado Autocreado </td>
                    <td align="center" class="num-style"> </td>
                    <td align="center">
                        Préstamo &nbsp;
                    </td>
                    <td align="center" class="num-style"> $ 5,000.00 </td>
                    <td align="center" class="num-style"> 3 </td>
                    <td align="center">
                        Atendido &nbsp;
                    </td>
                    <td>

                    </td>
                </tr>

                <tr>
                    <td align="center" class="num-style"> 26 </td>
                    <td align="center">CA9504_P_21 </td>
                    <td align="center" class="num-style"> 2022-11-14 11:07 </td>
                    <td align="center" class="num-style"> </td>
                    <td align="center"> 1 ~ CASH_08 </td>
                    <td align="center"> 52</td>
                    <td align="center" class="num-style"> 18 </td>
                    <td align="center"> Nombre Empleado 18 </td>
                    <td align="center" class="num-style"> </td>
                    <td align="center">
                        Préstamo &nbsp;
                    </td>
                    <td align="center" class="num-style"> $ 50,000.00 </td>
                    <td align="center" class="num-style"> 4 </td>
                    <td align="center">
                        Solicitado &nbsp;
                    </td>
                    <td>

                        <form action="ActualizaStatusSolicitudIncidencia.rkw" method="post">
                            <input type="hidden" name="folio" value="CA9504_P_21">
                            <input type="hidden" name="cvecom" value="CA9504">
                            <input type="hidden" name="link" value="SolicitudesPrestamos.jsp?cvecom=CA9504">
                            <select name="status">
                                <option value="R"> Rechazado </option>
                                <option value="A"> Atendido </option>
                            </select> &nbsp;
                            <input type="submit" value="Cambiar Status" class="button-accept button"
                                style="background-color:#009EFF">
                        </form>
                    </td>
                </tr>



                <tr>
                    <td>
                        <b>Claves de Solicitantes</b><br>
                        - 1 - Administrador <br>
                        - 2 - Participante
                    </td>
                </tr>
            </tbody>
        </table><br>
    </div>
</div>