<app-header [title]="nombre" [subtitle]="'Detalle Plan'"></app-header>

<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="table-wrapper">
            <table class="table table-bordered" style="margin:0px auto; font-weight:600;width: 55%">
                <tbody>
                    <tr>
                        <td style="background-color:#001865; color:#FFF">Nombre de la empresa</td>
                        <td style="background-color:#0098DD22" class="text-right"> {{nombre}}</td>
                    </tr>
                    <tr>
                        <td style="background-color:#001865; color:#FFF"> Aportaciones </td>
                        <td style="background-color:#FFFFFF" class="text-right num-style">
                            $ 33,895,334.26
                        </td>
                    </tr>

                    <tr>
                        <td style="background-color:#001865; color:#FFF"> Rendimientos </td>
                        <td style="background-color:#FFFFFF" class="text-right num-style"> $ 114,574.84 </td>
                    </tr>


                    <tr>
                        <td style="background-color:#001865; color:#FFF">Intereses por Préstamos </td>
                        <td style="background-color:#FFFFFF" class="text-right num-style"> $ 365,572.00 </td>
                    </tr>

                    <tr>
                        <td style="background-color:#001865; color:#FFF"> Pagos de Préstamos </td>
                        <td style="background-color:#FFFFFF" class="text-right num-style"> $ 11,365,397.37 </td>
                    </tr>


                    <tr>
                        <td style="background-color:#001865; color:#FFF"> Saldo en Préstamos </td>
                        <td style="background-color:#FFFFFF" class="text-right num-style"> -$ 341,867.44 </td>
                    </tr>
                    <tr>
                        <td style="background-color:#001865; color:#FFF"> Intereses Devengados </td>
                        <td style="background-color:#FFFFFF" class="text-right num-style"> $ 100.00 </td>
                    </tr>


                    <tr>
                        <td style="background-color:#001865; color:#FFF"> Retiros </td>
                        <td style="background-color:#FFFFFF" class="text-right num-style"> $ 14,867,306.15 </td>
                    </tr>

                    <tr>
                        <td style="background-color:#001865; color:#FFF"> Bajas</td>
                        <td style="background-color:#FFFFFF" class="text-right num-style"> $ 3,973,323.68 </td>
                    </tr>

                    <tr>
                        <td style="background-color:#001865; color:#FFF"> Prestamos Activos </td>
                        <td style="background-color:#FFFFFF" class="text-right num-style"> 35 </td>
                    </tr>
                    <tr class="tbl-007">
                        <td style="background-color:#001865; color:#FFF">Inversiones </td>
                        <td style="background-color:#0098DD22" class="text-right"> <b>
                                $ 15,876,718.71
                            </b> </td>
                    </tr>

                    <tr>
                        <td style="background-color:#001865; color:#FFF"> Información Actualizada al </td>
                        <td style="background-color:#FFFFFF" class="text-right num-style"> 29 de abril de 2022 </td>
                    </tr>
                </tbody>
            </table>

            <p>&nbsp;</p>



            <p>&nbsp;</p>






            <br>
            <br>
            <br>

            <br>
        </div>
    </div>
</div>